[2017-07-15 07:24] Elias413 opened #1 "Static Aircraft"
There is an issue with engaging the pushback, one you call for pushback, all of the Static Aircraft dissapear.
I assume this is to get rid of the stock pushback cars from X-Plane 11, but it definitely puts a hamper on the realism with the static aircraft.

By the way, this is the greatest plugin I have ever installed.

[2017-07-15 09:31] McDonne11 opened #2 "Plugin doesn't work in Windows 7 x64 + X-Plane 10.51r2."
Pre-Planing works well. When call the tug, appears the error:
"Microsoft Visual C ++ Runtime Library This application has been requested the Runtime to terminate it in an unusual way. Please, contact the application support team for more information". And crashing X-Plane.

[2017-07-15 11:04] Phil57 opened #3 "FlightFactor 757, no turns"
First of all this plugin is amazing. Modelisation is perfect and the pushback choice is just so well done.

It works as expected with the default 737 but with the FF 757 it can't make turns. I've tried with the aircraft fully powered down and also powered up.

Not sure if you can do something about it because it's related to the aircraft.
Thanks.

[2017-07-15 11:06] skiselkov commented on #3
This is a known issue. The FF 757 and 767 override nosewheel steering and BP can't take control of them. I'm working with the devs to get it sorted. I'll leave this issue open until it gets fixed.

[2017-07-15 11:40] skiselkov commented on #1
This is a bug and I believe I've got a fix for it. I'll close this issue once the fix is pushed.

[2017-07-15 11:44] Enix0 opened #4 "A320 Jardesign"
If  I try to pick Pre-Plan Pushback it says:,, Pushback failure: aircraft has non-positiv wheelbase . Sorry, tail draggers aren´t supported.
What can I do?
Sorry for my bad English...

[2017-07-15 11:58] skiselkov commented on #4
Unfortunately I don't have the JAR A320, so I can't debug this myself. I need some more information from you. Please download an addon called DataRefTool (https://github.com/leecbaker/datareftool/releases). From the menu then select Plugins -> DataRefTool -> View Datarefs (see screenshot 1). In the window that pops up, put "tire_z_no_deflection" into the black area next to "dat" (see screenshot 2)

[2017-07-15 12:08] skiselkov commented on #2
Can you please attach the Log.txt that was generated with this? The information in the file is very important to debugging this.

[2017-07-15 13:10] copyyy opened #5 "Zibo's 738 no turns"
Thought it'd be nice to have this as a seperate open issue rather than just replying it to the FF 757 issue.

As said in the title, it's not turning in the 738 with Zibo's modification:
http://forums.x-plane.org/index.php?/forums/topic/111305-boeing-b738-800-modified

Edit: You'll most likely want to try with the setting "TOE BRAKE AXIS" in the FMC turned on and off because Zibo does some stuff :P

[2017-07-15 13:50] skiselkov commented on #5
Thanks for the info. I'll investigate shortly. Zibo probably doesn't let BP override nosewheel steering, so it can't turn.

[2017-07-15 15:24] Enix0 commented on #4
1. tire_z_no_deflection : [-11.240056,1.357143,1.357143,-16.309847,-16.309847,-16.309847,-16.309847,-16.309847,-16.309847,-16.309847]

2. acf_gear_steers :
[1,0,0,0,0,0,0,0,0,0]

Is this that what you wanted? :)

[2017-07-15 15:26] skiselkov commented on #4
Yes, thank you.

[2017-07-15 15:27] Enix0 commented on #4
Ok, nice that you´re so fast :dagger:

[2017-07-15 15:27] skiselkov commented on #4
Could you please get one more value for me please: acf_gear_type. This is just to validate that the fix I'm working on will help.

[2017-07-15 15:34] Enix0 commented on #4
Sure here;
[3,3,3,0,0,0,0,0,0,0]

[2017-07-15 15:37] skiselkov commented on #4
Thank you, then my fix will work. I'll prepare a build for you to test shortly.

[2017-07-15 15:38] Enix0 commented on #4
Yes thank you,

[2017-07-15 15:41] Enix0 commented on #4
Short question:
If I will do better Pushback at the CRJ200 it says:
Pushback failure: no suitable tug for your aircraft. When is coming one for the Crj200? Next update?

[2017-07-15 15:46] skiselkov commented on #4
I'm not sure I will be able to support the CRJ200. Towbarless tractors have a minimum permissible nose gear leg length. This is because the aircraft fuselage must be up high enough so that it doesn't collide with the tractor when the tractor turns. Currently the lowest tractor I have plans for is the AST-3F, which can accept an aircraft with a nose gear leg length of 50cm. I'll see if I can find s

[2017-07-15 15:48] Enix0 commented on #4
Okey thank you,
this Plug-in is really nice.

[2017-07-15 15:54] skiselkov commented on #1
Please try the latest build to see if it fixes the problem.

[2017-07-15 15:55] skiselkov commented on #4
Please try build v0.10 to see if it fixes the problem.

[2017-07-15 16:11] Elias413 commented on #1
@skiselkov It is fixed with this latest build. Thanks for your amazing work, I will post any other bugs I find, if any!

[2017-07-15 16:19] skiselkov commented on #1
Thanks for reporting and please do keep testing.

[2017-07-15 16:19] #1 closed

[2017-07-15 18:18] qwassss opened #6 "Crashing X-Plane"
First of all, thanks for all your hard work bringing a great tool like this to the community!

I'm having issues while testing it out. I can plan my push-back, but I don't get any auditory confirmation of the route being planned. Then, when I start the push back, X-Plane hard crashes.

I've attached the Log.txt file for your reference.
[Log.txt](https://github.com/skiselkov/BetterPushbackC/files/1

[2017-07-15 19:21] McDonne11 commented on #2
Thank you for your responsiveness and so prompt reply!
Log file is attached.
One of the best plugins! If not the best.
Thank you in advance for your help.
[Log.txt](https://github.com/skiselkov/BetterPushbackC/files/1150569/Log.txt)

[2017-07-15 19:31] Enix0 commented on #4
Now I can do that Pre- Pushback, but if I click on start Pushback X-Plane Crashes how can I send the log?

[2017-07-15 19:32] ftd1949 opened #7 "Issue"
Nice but definitely some bugs. If you go to XP Menu, Flight, Flight Configuration, It won't let you stop the module without crashing XP.
Hope you can get it to work with Zebo.  Would there be anyway to bind it to a button or key to initiate pushback?
Thanks so much !

Fantastic plugin.

[2017-07-15 19:33] skiselkov commented on #4
@Enix0 You are running on XP10, right?

[2017-07-15 19:45] hey-eng commented on #2
Same issue in Windows 10 Pro x64 + XP 10.51r2, regardless of the plane used.

[2017-07-15 19:46] Enix0 commented on #4
Right

[2017-07-15 19:47] McDonne11 commented on #2
Most likely, the problem is in the X-Plane version, not in the OS version.

[2017-07-15 20:02] skiselkov commented on #4
This is a known issue with an incompatibility with XP10. I have a fix for that in hand, will publish shortly. I'll close this issue for now, since I already have an XP10 compatibility issue ticket open.

[2017-07-15 20:02] #4 closed

[2017-07-15 20:03] Enix0 commented on #4
Yes thank you :)

[2017-07-15 20:31] skiselkov commented on #7
Closing as duplicate of #2. This is a known issue and will be addressed shortly.

[2017-07-15 20:31] #7 closed

[2017-07-15 20:32] skiselkov commented on #6
Closing as duplicate of #2 This will be fixed shortly.

[2017-07-15 20:32] #6 closed

[2017-07-15 20:37] skiselkov commented on #2
Thanks for the log. I have a fix in and will be publishing it shortly.

[2017-07-15 21:04] skiselkov commented on #2
Fixed in v0.11.

[2017-07-15 21:04] #2 closed

[2017-07-15 21:53] BFaguha opened #8 "Jardesign A320 Nosewheel bug"
When the tug have the nosewheel in place and locked the nosewheel texture overlap the pushback tug.

i took a picture:
![pushback bug](https://user-images.githubusercontent.com/30203459/28242907-5b7aeae6-69b0-11e7-8d39-9e6fb93f13ba.png)

[2017-07-15 22:25] skiselkov commented on #8
Can you describe this in some more detail? I don't have the aircraft, so I'm going to have to guess at what's wrong. Like, does the problem exist *while* the tug is driving up, or only once it "attaches"? Do you have any other plugins that might affect rendering? (like xEnviro, SkyMaxxPro, etc.) If possible, please make a video of this effect, so I can see it happening live. Any little bit of info

[2017-07-15 23:30] BFaguha commented on #8
Thank you for your reply so quickly! and i´m sorry for little information; It happens as soon the tug get closer to the gear. The plugins i have: Autogate, Flywithlua, X-life, xgs, and 124thATC64 (that i almost never use). I´m going to upload a video on Youtube and post the link here. I´ll be right back.

[2017-07-15 23:51] BFaguha commented on #8
https://www.youtube.com/watch?v=Ph5ErmntLqI&feature=youtu.be

[2017-07-16 02:31] weslley-pereira commented on #8
I had no problems here.

This bug you are receiving you are viewing through the "Forward with 3-D Panel" mode.

This is also true of the Ground Handling seen by the Forward with 3-D Panel.

[2017-07-16 02:31] skiselkov commented on #8
I have a bit of an idea that might work around this. I've attached an experimental version of the plugin for you to test. Please try it out and let me know if it solves this issue with the JARbus A320.
Note: this build is Windows-only. Let me know if you need a Mac/Linux build.
[BetterPushback-experimental.zip](https://github.com/skiselkov/BetterPushbackC/files/1150794/BetterPushback-experimental.

[2017-07-16 02:33] skiselkov commented on #8
@weslley-pereira Oh, I didn't know that @BFaguha was using the 3D cockpit view. @BFaguha can you confirm that? If so, please use a proper external view (such as chase view or free view), otherwise external object rendering is always going to look screwed up.

[2017-07-16 06:27] McDonne11 opened #9 "Yak-40 by Felis. It's not possible to set parking brake after towing is completed [X-Plane 10]."
Hello!
First of all, I would like to thank you for fixing crash in XP10.
It's just the best plugin!
But the following problem arose. Which I described in the title of the topic.
If you do not have this airplane, you can download it from the link below:
http://felis-planes.com/yak40/
Once again, thank you for the excellent plugin and for the timely responses! Regards!

[2017-07-16 07:27] McDonne11 commented on #9
The same problem with An-24 by Felis. I can Set/Release parking brake after tow, but no reaction from tug.

[2017-07-16 10:52] Billytreiah opened #10 "X-Plane 10 Crash"
Good Day. I'm using Win 7 64Bit and X-Plane 10.51, when i was flying the IXEG V1.2 and finished my pushback, when the car wanted to go away X-Plane 10 Crashed :(
[Log.txt](https://github.com/skiselkov/BetterPushbackC/files/1150955/Log.txt)

[2017-07-16 10:59] skiselkov commented on #5
This is an internal problem in Zibo's modified 737. It forcibly overrides wheel steering and doesn't let anything else take over. I've submitted a patch to Zibo to rectify this and Zibo has published a temporary workaround: http://forums.x-plane.org/index.php?/forums/topic/111305-boeing-b738-800-modified/&do=findComment&comment=1211370
I'm going to close this issue as "wontfix", because there's fr

[2017-07-16 10:59] #5 closed

[2017-07-16 11:23] skiselkov commented on #9
Sorry, I tried to analyze this, but the Felis is doing something really strange to the parking brake as soon as my plugin starts controlling the nosewheel. No idea how to fix it and I don't think Felis is going to make adjustments, given how old the aircraft models are.

[2017-07-16 11:23] #9 closed

[2017-07-16 11:27] BFaguha commented on #8
@skiselkov good morning,
Yes i´m using 3D Cockpit View (i´m using it a lot more than free view). I tried with normal external views and it´s perfect. So the problem was 3D Cockpit View and i didn´t know that, i´m sorry. Problem resolved. So, i didn´t tried your build. I just won´t use 3D Cockpit View to check my plane outside. Thank you very much for your help and for creating this excellent plugi

[2017-07-16 12:06] skiselkov commented on #10
Thanks for the report. The initial & final tug route planning need some reworking as they're just too unstable right now. I should have a fix by the end of today.

[2017-07-16 12:16] McDonne11 commented on #9
Thanx for answer!

[2017-07-16 13:26] SinusJayCee opened #11 "Plan path when tug connected"
First of all, this is a really nice plugin!

I've a feature request: It would be nice, if the pushback path could be planned when the tug is already connected. When flying online, one get the pushback direction together with the clearance for pushback. However, I prefer to have to tug already connected when requesting the clearance in order to waste no time.

Thank you in advanced!

[2017-07-16 13:30] skiselkov commented on #8
No worries, glad we could get this resolved.

[2017-07-16 13:30] #8 closed

[2017-07-16 15:55] GCNorth opened #12 "Tug Approach distance."
This is a fantastic plugin.  One suggestion, if possible.  It seems that the approach of the tug is at a distance from the front of the plane that causes it to appear through the wall of the airport terminal structure instead of in front of the structure.  Would it be possible to have it appear at a distance compatible with the length of a typical loading bride or, possibly, from the side of the a

[2017-07-17 00:08] Curpling opened #13 "Zibo B738, dont turn in push"
Got the latest Zibo B738X, when planning a turn in the push, the push truck just goes straight. Tested with stock B738 and then everything works as it should, but not with ZIBO's B738X

[2017-07-17 00:26] skiselkov commented on #13
This has been reported before. It's a problem in Zibo's 737 mod and a patch has been submitted to Zibo's mod forum link: http://forums.x-plane.org/index.php?/forums/topic/111305-boeing-b738-800-modified/&do=findComment&comment=1211370

[2017-07-17 00:26] #13 closed

[2017-07-17 00:27] skiselkov commented on #10
Please try with the v0.12 build, it contains fixes that should help address stability of the tug driving logic.

[2017-07-17 00:29] skiselkov commented on #11
I'll see if I can somehow get this into the next alpha build.

[2017-07-17 00:32] skiselkov commented on #12
This is not easy to do. Currently the tug follows a semi-fixed path and the distance it turns in front of the airplane is carefully tuned to allow the steering algorithm cope with the slight amount of understeer inherent in the algorithm and straighten the tug out sufficiently to attach once it gets close to the aircraft. I might implement scenery detection in the future, so maybe the tug would ev

[2017-07-17 06:28] McDonne11 opened #14 "Crash when X-Plane 10 closes"
Hello!
When I trying to close X-Plane, appears the error:
"Microsoft Visual C ++ Runtime Library This application has been requested the Runtime to terminate it in an unusual way. Please, contact the application support team for more information". And crashing X-Plane.
[Log.txt](https://github.com/skiselkov/BetterPushbackC/files/1151723/Log.txt)
Thanx in advance!

[2017-07-17 08:17] McDonne11 commented on #14
Also, after performing pushback (MD-80 by RotateSim), after disconecting tug X-Plane has crashed with error StackHash_6131.
[Log.txt](https://github.com/skiselkov/BetterPushbackC/files/1151922/Log.txt)

[2017-07-17 12:08] skiselkov commented on #14
Thank you for the report, I believe I understand what the problem is. Fix is in the works.

[2017-07-17 12:24] skiselkov commented on #14
Please test with release v0.13.

[2017-07-17 13:07] McDonne11 commented on #14
Many Thanx!
I'll test it right now.

[2017-07-17 15:26] McDonne11 commented on #14
Thank you so much! Both problems are gone.

[2017-07-17 16:08] skiselkov commented on #14
Thanks for reporting & testing.

[2017-07-17 16:08] #14 closed

[2017-07-17 17:57] McDonne11 opened #15 "FlyJSim Boeing 727 Series issue"
![default](https://user-images.githubusercontent.com/30194437/28282263-7207a60c-6b5c-11e7-9607-0c394e19d344.JPG)

[2017-07-17 17:58] skiselkov opened #16 "Smartcopilot integration"
Users have requested smartcopilot integration for shared cockpit usage. This will be implemented by adding the following datarefs & behaviors:
* Master/slave must not be switched during pushback (undefined behavior may result). It's possible to observe if BetterPushback is running by monitoring the read-only boolean dataref `bp/started` (this dataref should NOT be synced, it's only a hint to smart

[2017-07-17 18:05] skiselkov commented on #15
Unfortunately I don't have the 727. However, you can help me debug this. Please refer to the procedure for obtaining DataRefTool in https://github.com/skiselkov/BetterPushbackC/issues/4 . Once you have it, please find and put a comment here the values of the following datarefs:

* `sim/aircraft/overflow/acf_gear_steers`
* `sim/aircraft/parts/acf_gear_type`

This will help me figure out how to work

[2017-07-17 18:16] McDonne11 commented on #15
Ok. Will now be.

[2017-07-17 18:22] McDonne11 commented on #15
![1](https://user-images.githubusercontent.com/30194437/28283314-fc5a9e1a-6b5f-11e7-8c18-c9a7f1c79aa6.JPG)
![2](https://user-images.githubusercontent.com/30194437/28283315-fc82bcba-6b5f-11e7-81a0-fd6ae5db1054.JPG)

[2017-07-17 18:30] meistersoda opened #17 "Pushback stickiness on Saab 340 on XP10"
Hi,

first of all: thank you for a great plugin. I love the path feature, so I can stay in cockpit. Do you plan to integrate a smaller tug for smaller aircraft? I am flying CRJ200 and Challenger 300 quite often and they need to get out of their parking positions, too. :) But no hurry, I am glad the plugin is working for Zibo right now!

Thanks,
Tim

[2017-07-17 18:55] skiselkov commented on #16
Implemented in v0.14. Please test.

[2017-07-17 19:03] skiselkov commented on #17
The primary target for the plugin right now are narrow body jets. in the 50-150t class, hence the choice of tug to model first. My next target is wide body jets up to the A380 and I've already started work on the AST-1X 680 model. After that I will turn my focus to something for small aircraft, maybe something like a LEKTRO.

[2017-07-17 19:05] skiselkov commented on #15
Thanks for the data. I'll try to find a solution.

[2017-07-17 21:15] SFHaines opened #18 "Mac XP11 Crash"
Greetings. I downloaded BetterPushback alpha v014 after seeing the promo video on YouTube. Must say this is a terrific plugin. By far the best push utility I have seen. Unfortunately every time I complete a push operation and dismiss the tractor the XP app crashes. The is XP11 running on a high-end iMac with loads of VRAM, etc. There seems to be no issue with the plugin itself. But after using it

[2017-07-17 21:22] skiselkov commented on #18
Hey, no worries, my primary dev machine is a 3 year-old MBP, so your Mac is definitely good enough. The problem you describe seems familiar and I think it's something else. I suspect your problem is that you've installed an old version. Looking at the Log.txt you sent me:
[code]
It should say `skiselkov.BetterPushback.0.14`. Please try redownloading and reinstalling the latest release.

[2017-07-17 21:31] brenoperucchi commented on #18
I'm too with the problem in the version 0.14 on Imac.

[code]

[2017-07-17 21:39] skiselkov commented on #18
@brenoperucchi This appears to be a different problem. I'll check it out immediately. I must have broken something in the mac build.

[2017-07-17 21:56] skiselkov commented on #18
Problem located, new build coming momentarily.

[2017-07-17 21:58] SFHaines commented on #18
Terrific. Incredibly fast response. Thanks!

[2017-07-17 22:06] skiselkov commented on #18
Well this was a rather embarrassing bug. Fixed in v0.15.

[2017-07-17 22:11] SFHaines commented on #18
Amazing! Will download and enjoy using this terrific plugin right away. Excellent work indeed. The best pusher utility I have seen.

[2017-07-17 22:13] skiselkov commented on #18
@SFHaines Glad I could help. Don't forget to please let me know if the fix helped so I can close this issue.

[2017-07-17 22:28] cpuwolf opened #19 "nose wheel steer"
I have nose wheel steer setting on XP11, then by default BetterPushbackC cannot turn. and I found the problem is about dataref

sim/cockpit2/controls/nosewheel_steer_on

[2017-07-17 22:36] SFHaines commented on #18
Flawless! Worked perfectly. No crash. No issues. I will post a note on AVSIM also to let folks there know this issue has been solved. Thank you so much!

[2017-07-17 22:39] skiselkov commented on #19
I'm not sure I understand what the issue is. Yes, if you disable nosewheel steering, then BP won't work (because it works by steering the nosewheel). But why are you doing that? You shouldn't be changing datarefs unless you know what you are doing. To have BP work, simply leave `sim/cockpit2/controls/nosewheel_steer_on` set to `1` and everything will work as it should.

[2017-07-17 23:17] skiselkov commented on #18
Thanks for the update.

[2017-07-17 23:17] #18 closed

[2017-07-18 02:12] skiselkov commented on #15
Fixed in v0.16. Please test and confirm.

[2017-07-18 03:41] cpuwolf commented on #19
the problem is my zibo 738 on XP11 cannot turn left/right while pushback

[2017-07-18 03:47] cpuwolf commented on #19
if you have your joystick setting about steering wheel, then you will find this plugin wont work any more

[2017-07-18 05:36] McDonne11 commented on #15
Thanx a lot!
As you can see, now everything works fine!:)
![727-200adv_1](https://user-images.githubusercontent.com/30194437/28302100-f5d3e476-6bbd-11e7-8301-d54ddf185619.png)
![727-200adv_2](https://user-images.githubusercontent.com/30194437/28302099-f5d3e48a-6bbd-11e7-9b82-29dea4074c66.png)
![727-200adv_3](https://user-images.githubusercontent.com/30194437/28302101-f5d6cefc-6bbd-11e7-8f63-13af90

[2017-07-18 06:22] McDonne11 opened #20 "Old position in Pre-Planing saves in new flight [X-Plane 10]"
Before assigning a new position, need to press a "Delete" key and only then add a new one.
Thank you in advance.

[2017-07-18 08:07] birdydma commented on #16
It works as intended. There is a remaining problem. The slave must have DRT or DRE installed to switch bp/slave_mode to 1.
A test with scp/api/ismaster (0 = no connection, 1 = slave, 2 = master) could do the job.

[2017-07-18 09:39] skiselkov commented on #20
What you are describing isn't a bug, it's a feature. Routes are deliberately persisted across flights to allow for reuse. If you are within 30m of a previously prepared route, it will be offered to you.

[2017-07-18 09:39] #20 closed

[2017-07-18 09:39] skiselkov commented on #15
Thanks for the confirmation.

[2017-07-18 09:39] #15 closed

[2017-07-18 09:41] skiselkov commented on #19
The zibo 738 need a patch to work, this isn't something I can fix. The patch has been submitted to Zibo, but I don't know if he's already integrated it.
Please clarify what "joystick setting about steering wheel" means.

[2017-07-18 09:43] skiselkov commented on #16
Can you not set `bp/slave_mode` automatically via smartcopilot?

[2017-07-18 10:00] McDonne11 commented on #20
Sorry. Now I understand it.

[2017-07-18 10:01] skiselkov commented on #20
No worries, glad I could clear it up.

[2017-07-18 10:14] cpuwolf commented on #19
OK thank you. maybe my understanding is wrong. will update to you later

[2017-07-18 10:31] skiselkov commented on #19
I'll close this issue for now. Just make sure you are running the latest Zibo mod version, he added support for BP in version 3.05e.
Should you run into some trouble, feel free to open another issue.

[2017-07-18 10:31] #19 closed

[2017-07-18 11:04] birdydma commented on #16
Nothing to do.
If we add  bp/slave_mode in any section, the value (0 or 1) will be shared

Non similar values are override/override, switching from 0 to 1 for a pilot and from 1 to 0 for the other one when commands are released.

For example you will find in this section:

sim/operation/override/override_joystick_heading, sim/operation/override/override_wheel_steer, etc..

[2017-07-18 18:09] skiselkov commented on #16
Ok, so if I understand you right, you can't force smartcopilot to set bp/slave_mode=1 on the slave machine *only*, am I correct?

[2017-07-18 19:38] birdydma commented on #16
Exact,

So, if there is no scp/api/ismaster: there is no smartco plugin. bp/slave mode=0

If scp/api/ismaster is found and =0 , there is no connection. bp/slave_mode=0

If scp/api/ismaster = 1, the connection is established, and this is the slave computer, bp/slave_mode will be =1

If scp/api/ismaster = 2, the connection is established, and this is the master computer, bp/slave_mode will be =0

Is

[2017-07-18 19:40] skiselkov commented on #16
Thanks for the clarification, I understand now. No problem, I'll put the smartcopilot detection directly into BP.

[2017-07-18 19:41] Jimbow1995 opened #21 "Cannot see aircraft through glass on tug"
The aircraft is not visible through the glass of the tug. Image is attached
![b733_40](https://user-images.githubusercontent.com/10096828/28336343-7a96551e-6bf9-11e7-9234-f5987c47439d.png)

[2017-07-18 19:44] skiselkov commented on #21
This is unfortunately a problem in X-Plane's rendering engine, so there's nothing I can do to fix that, sorry.

[2017-07-18 19:44] #21 closed

[2017-07-18 20:02] muldermatthijs opened #22 "X-plane 11 crash V0.16"
I planned a pushback route and the plugin acknowledges my plan. After a couple of minutes, starting APU etc. I pushed a button on my joystick, which is bound to the "start betterpushback" command. At that moment X-plane 11 crashes.

In the log.txt the last lines are:
2017-07-18 21:47:45 acfutils[bp.c:515]: assertion "bp.tug != ((void *)0) || slave_mode" failed:
Backtrace is:
0 0000000028021A4C
1 0

[2017-07-18 21:19] skiselkov commented on #22
Thanks for the bugreport, I've got a fix in the works. Should be available shortly.

[2017-07-18 22:56] thagreenkronic opened #23 "No vision in extreme fog"
I know this isnt really an issue with the addon, but I didnt know where else to put this. When in extreme fog and I try to plan a pushback, I cant see literally anything except my cockpit windows, leading me to guess where the taxi line is. Perhaps giving us the option to zoom in and out during planning would solve this issue? Thanks for your hard work, this is the best pushback plugin for any sim

[2017-07-19 04:29] thagreenkronic opened #24 "Cant set parking brake after pushback in zibo's 737 v 3.05g"
Unable to set parking brake after pushback using zibo's modified 737  version 3.05g. Not sure if this is an issue for you or zibo, but the only way to fix this atm is to quit the flight and restart without using betterpushback or the tug vehicle will never move off the front wheel.

[2017-07-19 10:22] arantisair opened #26 "Not working on 3 monitors"
Hello,
It is not working on 3 monitors.
The airplane and the lines to draw the path are showing on center monitor but the mouse cursor is showing to the right monitor.
You could not click the mouse to add any points because it is out of the main center monitor.
If you try to move the mouse cursor to the center monitor the lines are moving to the left monitor.

[2017-07-19 10:26] polt96 commented on #24
exactly the same issue hear

[2017-07-19 13:54] thagreenkronic commented on #26
I also noticed the selection graphic doesnt line up with my cursor using dual monitors, but have still been able to use it.

[2017-07-19 14:18] skiselkov commented on #23
You can already zoom in and out using the standard X-Plane forward/backward commands (the "," and "." keys by default, but you can rebind them to any key or joystick button). However, I'll put in some workaround logic that temporarily bumps the visibility higher while in the pushback planner. That way you will be able to see your plan clearly, but retain the low visibility when you reenter the coc

[2017-07-19 15:23] skiselkov commented on #22
Should be fixed in v0.17. Please test.

[2017-07-19 15:23] skiselkov commented on #16
Implemented smartcopilot connection detection in v0.17. Please test.

[2017-07-19 15:24] skiselkov commented on #23
Implemented automatic vision increase during planning in v0.17. Please test.

[2017-07-19 15:25] skiselkov commented on #11
Currently working on AST-1X tug model. I'll return to this after that is done.

[2017-07-19 15:28] muldermatthijs commented on #22
I will test it later today, let you know the results

[2017-07-19 16:05] SinusJayCee commented on #11
All right! I'm waiting for a tug for wide-body airliners as well and this feature is probably more important, since it's required by more people.

[2017-07-19 16:49] muldermatthijs commented on #22
Can't reproduce it anymore! Thanks for the fix.

[2017-07-19 16:58] skiselkov commented on #22
No need to thank me, this was a stupid mistake on my part :) cheers

[2017-07-19 16:58] #22 closed

[2017-07-19 17:02] birdydma commented on #16
Sorry, no joy. bp/slave_mode of the slave stays at 0.

Very, very minor, the slave does not hear the plan_end.wav.

[2017-07-19 17:12] #10 closed

[2017-07-19 17:13] skiselkov commented on #11
Here's a super-quick render in case you're interested in seeing progress.
![ast-1x](https://user-images.githubusercontent.com/3300688/28380098-5695736c-6cb6-11e7-872c-9ea2085b2083.png)

[2017-07-19 18:19] SinusJayCee commented on #11
Looks really nice already! Can't wait to try it. You may want to start a thread on the x-plane.org forum. I guess many people there are interested in following the progress of your development.

Btw: Are you planning to add the 3-axes version of the AST-1X later as well? It's rarely used in reality, but it's in very interesting vehicle.

[2017-07-20 00:10] staffguy1 opened #27 "IXEG 737-300"
twice during pushback out of no where the aircraft will just launch up into orbit no warning not sure why or how to fix it

[2017-07-20 00:25] staffguy1 commented on #27
so I did a test and it looks like if you start the IXEG engines on push back it throws you in the air but if you leave them off the pushback works normally am I missing something or is that a bug

[2017-07-20 00:51] thagreenkronic commented on #23
Amazing speed, will test and report back :)

[2017-07-20 01:20] #27 closed

[2017-07-20 01:28] skiselkov commented on #27
Can you please detail why you closed this? I wanted to take a look.

[2017-07-20 01:29] staffguy1 commented on #27
it was due to me being not very smart I was starting both engines at once and apparently it didn't like that very much

[2017-07-20 01:29] skiselkov commented on #27
That shouldn't cause you to launch into the air anyway :) I'll check it out to see if I can repro.

[2017-07-20 01:32] staffguy1 commented on #27
ok odd because it didn't even if I didn't activate pushback I then started both engines together with the Saitek switch panel config I put together at the get I was launched I then took out the modification I did for the Saitek switch panel to start both engines together started them and I wasn't launched into the air

[2017-07-20 01:34] skiselkov commented on #27
That's a really odd behavior. Can you make a video of it? At no point should BetterPushback be launching you into the air or anywhere. The only directions in which it applies forces to the aircraft is laterally. It doesn't override the X-Plane physics model, nor does it attempt to do anything out of the ordinary.

[2017-07-20 01:36] staffguy1 commented on #27
that's why like I said I didn't do a pushback I did a engine start from the gate and it still launched me in the air so then I determined it was the aircraft and not the pushback plugin at first I was thing maybe for some reason I was going from no power to full and having it do some weird stuff but I didn't even turn it on and it still launched me so that's why I closed it I figured it wasn't the

[2017-07-20 01:37] skiselkov commented on #27
Thanks for the clarification. Hope you can get your config sorted then.

[2017-07-20 01:45] staffguy1 commented on #27
no worries hey where do we make suggestions

[2017-07-20 03:23] Shain98 opened #28 "Doesn't work with bigger aircrafts"
Plugin doesn't work with the default 747 as well as with the FlightFactor a350XWB, it says "Pushback failure. No suitable tug for your aircraft."

[2017-07-20 03:42] thagreenkronic commented on #23
I tested  in all types of weather and I could see my aircraft perfectly at all times. Also using "-" "+" does work to zoom. Thank you!

[2017-07-20 04:16] Shain98 commented on #28
Ah, I just read through some of the other issues and I see that you are working now on getting the heavier aircrafts to work, sorry. And thank you for making this amazing plugin, it's the best pushback for X-Plane ever! Wish you the best.

[2017-07-20 04:23] brenoperucchi commented on #24
On Zibo Release 3.05e I could complete the all operation with better pushback after that I unable to release the tug when the pushback stop reverse the aircraft

[2017-07-20 10:20] skiselkov commented on #28
Yep, your second comment is exactly spot on. The reason for this limitation is because the tugs have limitations in real life. The current AST-3F 210 model IRL can handle aircraft of up to 220t MTOW, 1m tire diameter and minimum landing gear leg length of about 0.5m. Anything outside these parameters cannot be handled. However, I should have the AST-1X 680 model ready within a day or two, which ca

[2017-07-20 10:20] #28 closed

[2017-07-20 10:30] skiselkov commented on #26
I'm afraid I may not be able to fix this right now. First off I don't have a dual- or triple-monitor setup to test this on. However, the bigger problem is that X-Plane's SDK doesn't actually expose the new V11 multi-monitor support.

[2017-07-20 10:34] skiselkov commented on #24
Have you first tried to contact Zibo to ask him about what changed between the versions? I know he doesn't use revision management software like GitHub, but he should be to able at least to tell you if he touched parking brake related code. BetterPushback doesn't do anything to the parking brake system other than ask it "parking brake on or off?". If BetterPushback can't detect the parking brake b

[2017-07-20 10:34] #24 closed

[2017-07-20 10:34] skiselkov commented on #23
Thanks for testing.

[2017-07-20 10:34] #23 closed

[2017-07-20 10:35] skiselkov commented on #16
Ok thanks, I guess I'll have to test it directly in smartcopilot myself.

[2017-07-20 13:04] birdydma commented on #16
Ok, let me know. As i have 2 computers on a LAN, it is easy for me. I don't have to wait for an available copilot.

[2017-07-20 16:44] brenoperucchi commented on #24
Only to register here.

There is hot fix for zibo: http://forums.x-plane.org/index.php?/forums/topic/111305-boeing-b738-800-modified/&page=382#comment-1213492

[2017-07-20 17:33] skiselkov commented on #24
Thank you very much for the update, appreciate it.

[2017-07-20 18:15] AJonesieee opened #29 "Sliding Pushback"
So I believe this is due to the taxiway and runway being wet, since I hadn't had this issue before, but when I was pushing back, it was sliding all over the place and couldn't go straight.

Keep up great work :)
Thanks

[2017-07-20 21:29] skiselkov commented on #16
I believe I've got this resolved. Smartcopilot was initializing its datarefs later than BetterPushback was looking for them. In the next release (will be released shortly) will fix this.

[2017-07-20 23:12] skiselkov commented on #16
Should be fixed in v0.18.

[2017-07-20 23:13] skiselkov commented on #29
Can you perhaps make a video of this? That would me pinpoint the source.

[2017-07-20 23:15] skiselkov commented on #26
I got word back from Ben at Laminar Research that the next version of the SDK will include multi-monitor features, so I will return to this issue once the SDK is available.

[2017-07-21 02:27] skiselkov commented on #11
Feature is implemented in v0.19. Simply select "Connect first" from the pushback planner. This closes the planner and the tug drives up and connects. Then when you are ready, simply hit "Start pushback" and the planner comes up again and asks for directions. With the route entered and confirmed, the pushback starts immediately. Please test.

I don't know, not a big fan of reading through hundreds

[2017-07-21 07:58] birdydma commented on #16
0.19 tested: Target reached. You make my day.

Now, the new feature (connect first) is not sync. May i ask a nice custom command: BetterPushback/connect_first?

0.19 also tested with the stock 747. Pb use the right tug for this plane. But i have no file to do the test with smartco. Should work, but if you have any doubt, ask me. I will write a simple file for the test.

[2017-07-21 09:23] SinusJayCee commented on #11
Thanks for implementing the feature! Unfortunately, I can't test it this weekend. I will test it as soon as possible at the beginning of the next week.

I totally agree with this. In addition, I guess it's a good idea in general to announce something short before it's finished, but not earlier.

I've read about two additional 3-axes AST-1X at the Airbus factory in Hamburg Finkenwerder and one in C

[2017-07-21 09:32] nriddell opened #30 "Faster pull-forward speed"
When I plan a pushback that includes a "pull-forward" element, the speed for the pull-forward is much quicker than the pushback. I have no working knowledge of the real pushback / tow process but it feels like the speed for a pull is much quicker than it should be. I can provide a few metrics on the speed I experience when going back and when getting pulled forward if that is useful. From a simpli

[2017-07-21 10:43] skiselkov commented on #30
What you are describing isn't a bug, it's a feature. Currently the pushback is limited to approximately 1m/s or about walking speed, whereas towing is limited to 4m/s or about jogging speed. It's far easier to go faster when looking ahead - much better visibility. This is pretty normal and even a little bit on the conservative side. Tugs have enough horsepower to actually go pretty quick:
[![IMAGE

[2017-07-21 10:43] #30 closed

[2017-07-21 10:50] nriddell commented on #30
Thanks for your clear response. I really wasn't sure and so thought it was better to check with you but I didn't have another way to communicate. It makes perfect sense when you explain it like that. As an aside, is there a way that I can support you in your development through a donation of some sort? The time and effort you are putting into this is incredible and it would be wonderful to be able

[2017-07-21 10:53] skiselkov commented on #30
There's more important things than money. The best way you can support me is by testing & reporting if you run into trouble.

[2017-07-21 10:53] skiselkov commented on #16
Sorry about that. I'll prepare a custom command that you can sync.

[2017-07-21 11:00] nriddell commented on #30
You are a gentleman. I will test as often as I can with your new releases and feedback as much as I can. Best wishes

[2017-07-21 11:35] Shain98 opened #31 "Doesn't disconnect"
After pushback when you get the message saying to set the parking brake nothing happens. For a second I thought it's an issue with FF A350 but I checked and it also happens with the default 747. Cheers

[2017-07-21 12:11] skiselkov commented on #16
Please test version 0.20. I added a new command & dataref that need to be synced:
* `BetterPushback/connect_first` - command that needs to be synced from master to slave. This tells BP to start the pushback without a plan and pause before attempting to actually start the push operation (i.e. the pushback progresses only up to the "connected" stage).
* `bp/plan_complete` - boolean dataref that need

[2017-07-21 14:18] Thalios opened #32 "Plane Request"
Would it be possible for you to add the PMDG Douglas DC-6 please? I love your plugin but can't use it with my favorite vintage plane.

[2017-07-21 14:29] birdydma commented on #17
Will a Lektro push an AN 24 or a SAAB?

May be, there is a room between Lektro and our tug for narrow body jets.

http://www.aeroexpo.online/aeronautic-manufacturer/aircraft-tractor-874.html

A question. To chose a tow, do you test the MTOW stored in sim/aircraft/weight/acf_m_max?

[2017-07-21 14:39] jaymando opened #33 "No ground crew sounds!"
Hello, I am not hearing any ground crew to cockpit sounds like in the videos.  Everything else is working: pushback and tug sounds just not ground crew.  Thanks for any input.

[2017-07-21 14:58] DennisBeLike commented on #31
Hi, im having the same problem with the b738X zobi mod on xplane 11...the pushback works, but at the time the driver asks to put the parking brake, nothing happens, and i can even stop the pushback. Is there any solution?

[2017-07-21 15:01] Shain98 commented on #31
DennisBeLike, in case of Zibo's 737 it's an issue with the aircraft, not the plugin.
Here's the hotfix Zibo: http://forums.x-plane.org/index.php?/forums/topic/111305-boeing-b738-800-modified/&page=382#comment-1213492

[2017-07-21 15:02] birdydma commented on #16
Test done.

Perfect.

[2017-07-21 15:04] skiselkov commented on #16
Thank you. I'll close this issue for now. If you run into any trouble, feel free to open a new one.

[2017-07-21 15:04] #16 closed

[2017-07-21 15:11] skiselkov commented on #33
The problem you are experiencing is that you have your radio volume in X-Plane turned down. Since I get this report about once every 1-2 days, I've implemented an automatic radio volume check that warns the user if their radio volume is turned off. Please test in v0.21, it should warn you if you have your radio too quiet.

[2017-07-21 15:13] skiselkov commented on #32
I will investigate this. The DC-6 has a single-wheel nose gear, which none of the Goldhofer tractors support. I plan on adding a smaller bizjet- and turboprop-class tractor in the future, which should provide support for the DC-6's unusual (by modern standards) nose gear arrangement.

[2017-07-21 15:14] skiselkov commented on #31
@DennisBeLike As @Shain98 noted, the Zibo mod broke the compatibility in one of the recent updates. Please consult the link for details on how to fix this.
@Shain98 Thank you for helping out.

[2017-07-21 15:14] #31 closed

[2017-07-21 15:16] DennisBeLike commented on #31
I already fix it, thank you! But now i just notice that the tug is not turning...i dont know why. Safe Flights!

[2017-07-21 15:19] Thalios commented on #32
Thank you so much! Your plugin has made my sim life a lot more immersive and enjoyable.

[2017-07-21 15:30] skiselkov commented on #17
The An-24 is unfortunately not compatible. There's some issue with releasing the parking brake after pushback and seeing as it's X-Plane 10-only and unlikely to be supported in the future, I'm not holding my hopes up. The SAAB 340A should be handled by the AST-3F currently in the plugin, but the Lektro will handle it easily as well. Lektro actually has a number of models. Currently I'm looking at

[2017-07-21 15:32] skiselkov commented on #33
Glad I could help.

[2017-07-21 15:32] #33 closed

[2017-07-21 15:37] skiselkov commented on #32
Glad you like it. The tug I plan to add for this is an lithium-ion battery-powered electric tug. It'll be a fun contrast with the old gas-guzzling, smoke-spewing, oil-dripping radials of the DC-6 :)

[2017-07-21 15:41] birdydma commented on #17
Understood.

Thank you for your time.

[2017-07-21 16:49] andre6991 opened #34 "ixeg 737-300 no tug"
When i select start push back in the IXEG 737-300 is says push back failed no suitable tug available can you help me? it seem like i'm the only one having this problem
thank you very much
(i'm using the latest version)

[2017-07-21 17:07] andre6991 commented on #34
actually i think it does that with every airplane

[2017-07-21 17:27] skiselkov commented on #34
I just did a test with the IXEG 737 and it works perfectly well. I think you may have installed it incorrectly or something. Make sure you only have the *one* "BetterPushback" folder in `Resources/plugins` (doesn't matter if the folder has a suffix like "`-0.21`", but it's important there's only one). Also, can you please look inside the plugin under `objects/tugs` and verify that you have these t

[2017-07-21 18:12] andre6991 commented on #34
thank you for the qick response i dont' know what's wrong the plug in is installated in the correct folder and the tug are there. i can plan the route and everything but when i say start push it doesn't work
i confirm it does the same thing even with the default 737

[2017-07-21 18:13] Milki52 opened #35 "A350 no disconnect and no push"
Hey,

first big thanks for this wonderful plugin. At my last flight i flown with the ff350 and at EDDM the push starts but ends after 20m no voice any more i had to deactivate the plugin via the Plugin Admin. After landing at EDDH i want to start back to EDDM and again the push starts and after a few meters it kills it again. I restartet the Plugin and try a tow, that worked very well but after re

[2017-07-21 19:13] skiselkov commented on #34
I'll prepare a build for you which has more analytics enabled to determine why it's not finding a suitable tug. Are you using Windows, Mac or Linux? So I know which version to build for you.

[2017-07-21 19:28] skiselkov commented on #34
Just out of curiosity, can you please attach your Log.txt.

[2017-07-21 22:06] Wjaas opened #36 "Installation"
How do I install BetterPushback?

Plz relpy :D

[2017-07-21 22:17] hacnic commented on #36
http://lmgtfy.com/?q=how+install+plugins+x-plane

[2017-07-21 22:18] andre6991 commented on #34
i'm using window 10 64 bits
and this is my log file i hope you find somenthing that can help you
[Log.txt](https://github.com/skiselkov/BetterPushbackC/files/1166867/Log.txt)

[2017-07-21 22:44] skiselkov commented on #34
As I suspected, the problem isn't that the tug can't be found. There's a problem with the audio subsystem - BetterPushback is having trouble loading the tug's sounds. Let scratch my head some more, maybe I can come up with a solution.

[2017-07-21 22:52] skiselkov commented on #34
I've built a test version for you, just so I know how to address this. The ZIP doesn't contain a full plugin, only one file from the plugin. Please replace the file in `64/win.xpl` with it. If it still doesn't help, please send me the Log.txt it generated.
[win.xpl.zip](https://github.com/skiselkov/BetterPushbackC/files/1166915/win.xpl.zip)

[2017-07-21 22:57] rickw844 opened #37 "FlightFactor 767 compatibility"
BetterPushback doesn't seem to work on my Flightfactor 767, but does work on the default 737 in X-Plane 11.  Am I doing something wrong?

Thanks.

[2017-07-22 01:14] slgoldberg commented on #3
I noticed with nosewheel steering disabled (using the generic XP11 command ref to disable nosewheel steering), it does turn -- so maybe it's possible to correctly handle it with the plugin in that case?  However, it's pretty humorous when I do that; it just spins in fast circles as soon as I disable nosewheel steering. When I re-enable it, it can't always get back under control and pretty humorous

[2017-07-22 01:53] skiselkov commented on #37
You're not doing anything wrong, the FlightFactor aircraft are incompatible and don't let BP take control of the steering. I'm talking to FlightFactor to get the issue resolved in a future update to the aircraft.

[2017-07-22 01:53] #37 closed

[2017-07-22 01:55] skiselkov commented on #36
@Wjaas As @hacnic correctly pointed out, this information is readily available on Google. When this plugin goes 1.0, it will include a user manual that details the installation steps just in case.

[2017-07-22 01:55] #36 closed

[2017-07-22 01:57] skiselkov commented on #35
I'll try to talk to FlightFactor and get a hold of the A350 to test. I don't have the FF A350 yet, so I can't test it right now, but I'll keep the issue open so I don't forget.

[2017-07-22 02:03] skiselkov commented on #32
Making good progress on this, should have something test-ready in a few days.
![ap88](https://user-images.githubusercontent.com/3300688/28487529-a5117184-6e92-11e7-94cc-25787d95afcf.png)

[2017-07-22 02:04] skiselkov commented on #17
Making good progress on this, should have something test-ready in a few days.
![ap88](https://user-images.githubusercontent.com/3300688/28487535-d64101c0-6e92-11e7-934d-10d371a94733.png)

[2017-07-22 07:18] birdydma commented on #32
This one ready for a tug race.

https://www.youtube.com/watch?v=P27oVdvb3Z8

[2017-07-22 07:33] JetNoise61 commented on #34
Hi,
first of all: a million thanks for this plugin. Best i have seen EVER! ;-)
Testing the IXEG and "Connect first" via JStick pushbutton & dataref (lua script) results in a "pushback failure, please tell me where ...."

Doing this through the XP-plugin-BetterPushback menue (on screen/ "connect first" button works instead. Strange ;-)

[2017-07-22 09:07] skiselkov commented on #34
@JetNoise61 The issue you describe is different, please open a new ticket for it and put your comment into the description. This is a bug tracker, not a discussion forum, you can't just append comments arbitrarily.

[2017-07-22 09:34] nriddell commented on #11
I've been able to test this fix a few times and is working perfectly for me. Have tried with IXEG733, default B747. Please let me know if there is anything specific you want me to report to help you close this one.

[2017-07-22 09:48] gharac commented on #35
Affirm this Bug. Truck will not disconnect, p/b worked well (for me)

[2017-07-22 10:50] weslley-pereira commented on #35
No problem here.
X-Plane 11.02r2
FF a350 v1.4.6

[2017-07-22 11:18] andre6991 commented on #34
i fixed it thank you very much for your help.
the problem was obviously on my end and not yours so i'm sorry i had you lose time fixing something that's not your fault.
to fix it i download  the latest audio driver and cleaned my registry
thank you very much for this amazing plugin and i'm sorry

[2017-07-22 12:00] Milki52 commented on #35
by me A350 V1.4.6
XP 10.51

[2017-07-22 12:05] skiselkov commented on #34
No worries, glad you got it resolved.

[2017-07-22 12:05] #34 closed

[2017-07-22 12:18] gharac commented on #35
my setup
FF a350 v1.4.6
X-Plane 11.02r2
(no disconnect of the tug)

[2017-07-22 12:57] JetNoise61 opened #38 "dataref "connect_first" v 0.21"
Hi,
first of all: a million thanks for this plugin.
Sorry for wrong use of Github system initially.

Testing the IXEG and "Connect first" via JStick pushbutton & dataref (lua script) results in a "pushback failure, please tell me where ...."

Doing this through the XP-plugin-BetterPushback menue (on screen/ "connect first" button works instead. Strange ;-)

Windows10, X-Plane 11.02r2 (build 110202

[2017-07-22 12:58] skiselkov commented on #38
No worries. Thanks for the bug report. I'll post a fix shortly.

[2017-07-22 13:39] skiselkov commented on #38
Should be fixed in release 0.22, please test.

[2017-07-22 14:32] JetNoise61 commented on #38
hello,
what a quick fix !!
I tested on three occasions (via DATAREF, LUA, JOYSTICK ) and it works now as expected. I love it. Thanks
Have a nice weekend !!

BTW, if you need me for testing on the IXEG, FF757, PMDG DC6,  FF767 (friend) let me know.
Oliver

[2017-07-22 14:32] #38 closed

[2017-07-22 22:04] AJonesieee commented on #29
I can see what I can do! I'm just busy at the moment, but I'll within next
few days

On Thu, Jul 20, 2017 at 6:13 PM, Saso Kiselkov <notifications@github.com>
wrote:

[2017-07-23 12:20] Thalios commented on #32
Waouh! That fast?! The 3D model looks great already. 👍

And that race.... OMG! ^.^

[2017-07-23 12:34] weslley-pereira commented on #35
After 6 tests 3 with energy and 3 without energy, I noticed that the tug does not disconnect when the aircraft is energized.

With the aircraft completely without power the tug works 100%, my previous tests were being carried out this way.

[2017-07-23 12:41] skiselkov commented on #35
@weslley-pereira While I'm waiting to get access to the aircraft, maybe you can help me out to get this fixed earlier, by gathering some information for me instead. I need you to get a plugin called DataRefTool and get me the values of some datarefs in particular. The procedure to download and install DataRefTool as well as how to look up datarefs is detailed here: https://github.com/skiselkov/Bet

[2017-07-23 16:33] SinusJayCee commented on #11
I just tested the new feature. Works perfectly for me as well. I also tried the new AST-1X with the JAR A330, which also works perfectly.

I will know start to regularly use the plugin and will inform you if I may find something that doesn't work as intended. But for know I'm completely satisfied. Many thanks for the quick implementation!

[2017-07-23 17:28] Milki52 commented on #35
Its sounds like the same problems as with the Ground Handling with this bird. This disappears also when something changed with the APU or ext. Power.

[2017-07-23 19:42] weslley-pereira commented on #35
Here it is, I had several problems with DataRefTool, so I used DataRefEditor.
Follow the print

![a350_xp11_80](https://user-images.githubusercontent.com/27384771/28502300-cb0c2f26-6fc5-11e7-824c-23be0ee59540.png)
![a350_xp11_78](https://user-images.githubusercontent.com/27384771/28502301-d2103a92-6fc5-11e7-8a4f-41f0fab1cd23.png)
![a350_xp11_79](https://user-images.githubusercontent.com/27384771/2

[2017-07-24 10:27] birdydma commented on #17
Well done Saso,

0.23 tested with the Saab and smartco.

-I don't know the speed of such a tug pushing a Saab 340, but it seems very slow, too slow even if it is real, and the push is straight on only (does not follow the curve of my plan). But this is only my first attempt.

-Nobody on the seats.

[2017-07-24 11:09] skiselkov commented on #17
No, that looks like a bug. I'm analyzing.

[2017-07-24 11:11] skiselkov commented on #17
You can actually work around it now by just lightly depressing the brakes and letting go.

[2017-07-24 12:35] birdydma commented on #17
A little acceleration during about 1 sec playing with toe brakes.

Only the first straight segment is done.

PS: with the Saab, i run Win 10.

[2017-07-24 13:37] skiselkov commented on #17
Ok, I've got the source located. You're running in XP10, right? Seeing as the Saab 340 isn't officially supported in XP11, I assume the answer is yes. XP10's tire model is very "sticky" at slow speeds. Below about 0.5 m/s the aircraft has the tendency to just get "stuck" to the ground if the plugin reduces the pushing force below about 10kN (this scales with aircraft mass of course). This is norma

[2017-07-24 13:51] birdydma commented on #17
Always running XP 10, same gate and planning, but with the stock B58. No problem here.

Don't spend too much time with XP 10. At some point, we will have a 1.5 release (XP 11 specific). for the Saab. Also hope for a TU154M XP 11 compatible.

[2017-07-24 14:58] skiselkov commented on #32
Please test with the latest release, which includes the AP88 model.

[2017-07-24 15:38] birdydma commented on #17
Tests of this day were done with the 0.23 release.

[2017-07-24 16:56] weslley-pereira commented on #35
Tug working perfectly with BetterPushback-0.23

![a350_xp11_82](https://user-images.githubusercontent.com/27384771/28534628-b59b2bbc-7077-11e7-9033-0ed82cd0962d.png)

![a350_xp11_81](https://user-images.githubusercontent.com/27384771/28534612-ad5d38f0-7077-11e7-8722-f31d53f1fdcd.png)

[2017-07-24 18:06] Thalios commented on #32
Same thing as before I'm afraid: "Pushback failure. No suitable tug for your aircraft."

[2017-07-24 18:08] skiselkov commented on #32
Can you attach the Log.txt from the run? It should contain a reason that explains to me which aircraft parameter was out of bounds for all tugs.

[2017-07-24 18:24] Milki52 commented on #35
i can confirm it. Works good on 10.51 with 0.23 :) thanks a lot

[2017-07-24 18:25] skiselkov commented on #3
Ramzzess is working on this now, should be fixed soon.

[2017-07-24 18:27] skiselkov commented on #17
Please test on release 0.24, should fix the stickiness.

[2017-07-24 19:04] Thalios commented on #32
Here you go ^.^

[Log.txt](https://github.com/skiselkov/BetterPushbackC/files/1170905/Log.txt)

[2017-07-24 19:26] skiselkov commented on #32
It's as I suspected. I'm not sure I'm gonna be able to fix this to your satisfaction. The problem basically amounts to the fact that the DC-6's nose wheel is just so freakin' large. It has an outer tire diameter of almost 1.2 meters. That's more than the AST-3F can handle and it would absolutely dwarf the AP88. And while the AST-1X can handle that tire size, it can't normally handle single-tire la

[2017-07-24 19:26] #32 closed

[2017-07-24 19:45] Thalios commented on #32
That's plenty fine for me. Thank you very very much!

[2017-07-24 19:51] AirLuSa opened #40 "Texture Regions AST-3F"
Hej,
 congrats to this perfect pushback plug-in. I tried to repaint the AST-2 truck to fit the Lufthansa LEOS paintsheme, but the logo is mirrored on one side due to the fact, that the texture region is not set correctly. See attached picture. Is it possible to change/fix it? Due to the fact I am not used to blender I tried to change it myself with AC3D, but than the lights in the object file are

[2017-07-24 19:56] skiselkov commented on #35
Yep, just confirmed that myself on the A350 as well. Thanks for reporting and closing this issue now.

[2017-07-24 19:56] #35 closed

[2017-07-24 19:59] skiselkov commented on #40
I'll get right to it, shouldn't be hard to fix. I also need to work on airport-texture support. Right now the airport-specific textures feature is kind of crudely hacked in place.

[2017-07-24 20:16] AirLuSa commented on #40
Wow, thanks for the fast response for fixing. I've checked the AST-1 truck too, the obj file doesn't differ between left and right side either, so if you want to make airport texture possible it would be nice to get left and right side of the trucks separated. Then there won't be a limit in customization ;-)

[2017-07-24 20:21] Thalios commented on #32
It does work, so thanks you very much again. Only trouble is that it doesn't seem to follow the plan and seems very very slow. On the other hand, I can guide it with rudder controls so that's plenty good enough for me. Thanks again o/

[2017-07-24 20:48] skiselkov opened #41 "Add German translation"
The spoken messages need to be translated into German, as they are currently only available in English. The text of the messages in English is:

* `connected.wav`: "Tow connected and bypass pin inserted. Release parking brake."
* `disco.wav`: "Disconnecting tow. Stand by."
* `done.wav`: "Tow is disconnected and bypass pin has been removed. Have a nice flight."
* `driving_up.wav`: "Ground to cockpi

[2017-07-24 21:15] liebbe10 commented on #41
`connected.wav`: “Pushback ist festgemacht und Bypass-Pin hineingesteckt. Lösen Sie die Parkbremse”.
`disco.wav`: "Trenne den Pushback. Warten Sie einen Moment."
`done.wav`: “Pushback ist losgemacht und Bypass-Pin wurde entfernt. Haben Sie einen schönen Flug!”
`driving_up.wav`: “Ground to cockpit. Pushback fährt heran.”
`op_complete.wav`: “Push is fertig. Setzen Sie die Parkbremse.”
`plan_end.wav`

[2017-07-24 21:59] skiselkov commented on #41
@liebbe10 Thank you for the translations. I mislabeled this issue, I also needed somebody who's a native speaker to record them. I'd appreciate if you can help me out with that. Simple mono sound without any filters would be great. I'll apply all the post processing myself. Feel free to ZIP the sounds up and attach them to this issue.

[2017-07-24 22:00] liebbe10 commented on #41
This are the spoken audacity files
[better pushback audio.zip](https://github.com/skiselkov/BetterPushbackC/files/1171353/better.pushback.audio.zip)

[2017-07-24 22:02] liebbe10 commented on #41
Very happy to support this amazing plugin :)

[2017-07-24 22:22] skiselkov commented on #41
Thank you very much. Sorry to have a bit of a moan about some of the translations, but I'd like to ask if in your opinion we could refine them a bit:
1. “Pushback ist festgemacht und Bypass-Pin hineingesteckt. Lösen Sie die Parkbremse.” The word "Pushback" refers to the operation, not the vehicle. I think it would make more sense to refer to it as "Schlepper", or if you want to get really official

[2017-07-24 22:43] liebbe10 commented on #41
1. Yeah I will change it to Schlepper. (I think I also heard pushback referring to the vehicle)
2. Maybe "Seilwinde"
3. You are absolutely right! Although I'm a native speaker I'm not used to german aviation phrases...but now as you said it, it sounds 100 times better...

[2017-07-24 22:45] liebbe10 commented on #41
`connected.wav`: “Schlepper ist festgemacht und Bypass-Pin hineingesteckt. Lösen Sie die Parkbremse”.
`disco.wav`: "Trenne den Schlepper. Warten Sie einen Moment."
`done.wav`: “Schlepper ist losgemacht und Bypass-Pin wurde entfernt. Haben Sie einen schönen Flug!”
`driving_up.wav`: “Cockpit für Boden. Schlepper fährt heran.”
`op_complete.wav`: “Push is fertig. Setzen Sie die Parkbremse.”
`plan_end.

[2017-07-24 22:56] skiselkov commented on #41
1. It's just I've never heard actual ground crew refer to it that way. In English it's the same way. You could refer to it as "pushback", but I've never heard the pros refer to it that way.
1. Sounds ok.
1. I watch a lot of Pilot's Eye :)
1. "Cockpit für Boden" - I think the guy in the video misspoke, he should have used "Cockpit vom Boden" or better yet "Boden zum Cockpit".
1. "Öffnungen" - maybe

[2017-07-24 23:03] skiselkov commented on #40
Ok I've split all models up and moved the UVs for the right side so that you can do separate texturing for them. The AST-3F's texture file is kind of a mess right now, but I don't think much new modeling will need to be done on it (plus there's a bunch of UV mapping efficiencies that could be had, no doubt). You don't need to restart your texturing work. I've separated the right-side UVs into sepa

[2017-07-24 23:07] skiselkov commented on #40
Oh and one more thing, if you are applying solid color stripes (like the yellow ones above), don't paint into a top layer, paint into a layer just above the "base paint" (the bottom most). That way all the hand-painted grime, ambient occlusion and seams will appear properly above your new paint layer. It goes without saying that you shouldn't be painting into the PNGs. Grab the original Gimp XCFs

[2017-07-24 23:23] liebbe10 commented on #41
Hm...I think "Cockpit für Boden" is a phrase being used (but difficult to find out...in the other pilotseye videos they often use english phrases or simply say "Hello Ground")
Going to use Luken instead.
I'm going to record it tomorrow as I'm already tired :)

[2017-07-24 23:24] skiselkov commented on #41
Thank you, sounds great.

[2017-07-25 07:31] AirLuSa commented on #41
Hej,
I've have some suggestions for improvement. When I'm doing pushback/ walk out assistance as a ramp agent in german I used to say "Boden an Brücke" instead of "Cockpit für Boden" to get in contact with the cockpit crew. Furthermore I suggest to just say "Bypass-Pin ist gesteckt", because "hineingesteckt" sounds a little bit to formal for me, instead of "Triebwerke frei zum Start" I would sugge

[2017-07-25 07:34] liebbe10 commented on #41
OK cool thanks :)

[2017-07-25 07:34] birdydma commented on #17
Good day,

release 0.25: BP choose the AST-1X.tug for the Saab.

This morning, the tug is silly. It sits near the plane, the value of custom datarefs for cab position, driver orientation, wheels, winch, are playing yoyo.

Later,to catch the Lektro, i will reboot X Plane, several times if necessary, and see what happen with this one.

[2017-07-25 07:36] AirLuSa commented on #41
You're welcome!

[2017-07-25 07:39] AirLuSa commented on #40
Perfect, will test the paint files in the afternoon. Yeah it was just a quick and dirty paint to see what's possible. :-)

[2017-07-25 08:39] birdydma commented on #17
No joy. I can't catch the Lektro.

[2017-07-25 09:07] birdydma commented on #17
New test: XP 11 and  the Ixeg: "Tow is coming up", and nothing happen.

[2017-07-25 09:25] skiselkov commented on #17
Hang on, I made a release mistake. Emergency release incoming.

[2017-07-25 09:38] skiselkov commented on #17
Should be fixed now. Sorry for the confusion.

[2017-07-25 09:49] skiselkov commented on #41
Danke @AirLuSa.

[2017-07-25 10:14] skiselkov commented on #40
So I've built in a new method of shipping liveries with the tug that is geo-sensitive. Every tugs' file hierarchy looks like this now:
[code]
Right now every tug comes with a `generic.livery`, which is applied in case there is no location-specific livery. To create a location-specific livery, simply create a new folder under `liveries` (for example `LEOS.livery`), put in the appropriate texture fi

[2017-07-25 10:19] skiselkov commented on #40
Btw: for right now, I'd recommend only doing the AST-3F repaint. The AST-1X model is incomplete and the textures need a lot more work. The version of it right now in the plugin is just an initial minimally functional attempt to allow people to fly widebodies. I need to rework the model of the grabbing mechanism, add a cab & driver and do a bunch more animation work.

[2017-07-25 11:19] AirLuSa commented on #40
Okay, painted the AST-3F into the LEOS colours. But I noticed that in the textures including now separated places for left and right, but the object of the latest release still uses only one of the texture regions.

Livery selection works very well with XP-10. Cool feature. Config file is also easy to understand.
[LEOS.livery.zip](https://github.com/skiselkov/BetterPushbackC/files/1172939/LEOS.liv

[2017-07-25 12:19] AirLuSa commented on #41
I've found some time to record the files. See attachment. While recording I noticed that would like to make a suggestion.  The phrase "Ok, all doors and hatches are closed" of the start_pb.wav/ start_tow.wav should be infront of the ready2conn.wav file. Because in real you would first do the walk around to check the aircraft and then would connect the pushback truck. So the respective phrases shou

[2017-07-25 12:23] skiselkov commented on #40
I had to pull the build with the side-separation due to a problem in the Windows version. Please try with v0.27. Thanks for adding Hannover to the airport. Btw: careful when you're adding quote marks in the info.cfg. I noticed your text editor added the German version which has a different symbol for the closing quote (because in German the quotes are directional). The parser however strictly expe

[2017-07-25 12:26] birdydma commented on #17
Wow, don't be sorry,

Back to the 0.24 release with the Saab.

Test 1. Engines not running. Only a straight segment is done.
Test 2: Engines running, NWS activated. Only a straight segment is done.
Test 3:  Engines running, NWS activated. I drive the tug with my pedals. It turns despite small flicker of the tug, but after the turn, it's again very slow.

[2017-07-25 12:30] skiselkov commented on #41
Thanks! I'll think about restructuring the messages. The reason why it's structured like this is because there can be a lot of time between when the tug attaches & pushback actually starts. This is due to the "connect first" feature, which basically runs the whole procedure up to the actual call for brake release. Some folks requested the ability to attach the tug without specifying a plan and whi

[2017-07-25 12:30] AirLuSa commented on #40
Okay no problem. Yeah I've noticed that already, though I had copied the ones. But yes I changed it and forgot to copy the right ones. So here is an update also to the textures. I accidentally removed the background fro the goldhofer logo, resulting in not good looking logo on the door.
[LEOS.livery.zip](https://github.com/skiselkov/BetterPushbackC/files/1173120/LEOS.livery.zip)

[2017-07-25 13:01] birdydma commented on #17
Some more about the Saab.
Engine running, NWS engaged, the plane don't move. sim/operation/override/override_wheel_steer is set to 1 by the plugin of the plane, i can't turn the nose wheel.
Now, as soon as the plane is moving (forward with engines, or backward with the tug), the override is switched to 0, and i can turn the nose wheel with the pedals.

At some point, probably when the tug should t

[2017-07-25 14:13] skiselkov commented on #17
I need to do some more analysis on this, because on my install it was working fine last I checked.

[2017-07-25 14:35] birdydma commented on #17
This was with the 0.24 release. Do you need a test with the 0.27?

[2017-07-25 14:56] skiselkov commented on #40
Great stuff. Can I add your real name to the copyright notice on the paint files? If so, what is your real name please?

[2017-07-25 15:46] skiselkov commented on #40
Btw: while it's not difficult to flip the UVs, it's quite a bit more complicated to flip all the base paint layers on the pre-existing texture. Could you instead please simply horizontally flip text left-to-right while exporting? That should be fairly easy to do.

[2017-07-25 16:36] skiselkov commented on #40
Sorry for misunderstanding your comment at first. The text still needs to be flipped, but I also forgot to export the AST-3F model with the modified UVs to OBJ form, so that's why it still appears to be flipped. I'll have a fixed version ready for you shortly.

[2017-07-25 19:38] skiselkov commented on #41
Alright, audio is published in the latest release. Please test, check if the volume is good, distortion isn't overdone and overall if it sounds good.

[2017-07-25 19:40] skiselkov commented on #40
Ok, so I've incorporated this texture & livery into the tug (v0.28). I've flipped the text on the affected panel myself as it was fortunately not covered by any other layer. I've also fixed the AST-3F UVs. Another feature I've implemented is that you can omit the LIT texture in the livery pack. Any missing files are pulled from the `generic.livery`. This cuts down on the resulting plugin size a lo

[2017-07-25 19:45] skiselkov opened #42 "Add Russian translation"
Need a translation of text and voice messages into Russian.

The text messages can be found here: https://github.com/skiselkov/BetterPushbackC/blob/master/data/po/strings.pot

Additional texts that need to be translated are on the icons at: https://github.com/skiselkov/BetterPushbackC/tree/master/data/icons/en

The text of the voice messages in English (https://github.com/skiselkov/BetterPushbackC

[2017-07-25 20:00] skiselkov commented on #11
Thanks for the confirmation.

[2017-07-25 20:00] #11 closed

[2017-07-25 20:27] AirLuSa commented on #41
For me the sound is okay. But I know what I am saying so maybe some other have to test.

[2017-07-25 20:36] AirLuSa commented on #40
Perfect Idea with the _Lit file. Thanks for editing and adding the paint files. As soon you'll have the other trucks ready. I will paint them to LEOS also, but take you're time.

[2017-07-25 20:57] Semirben commented on #41
I compared both english and german translations ingame and in my opinion the german translations are a little bit too quiet compared to the original english sound files and therefore sometimes hard to understand from the cockpit.

Tested with default 737 (Zibo Mod)

[2017-07-25 23:00] skiselkov commented on #40
Ok, I'll close this for now. Once the AST-1X is finished, feel free to open a one.

[2017-07-25 23:00] #40 closed

[2017-07-26 13:36] birdydma commented on #17
A little more (release 0.28). This is for the Saab only, as i have no problem with the stock Baron and 747 of XP 10.

sim/flightmodel/misc/nosewheel_speed is around 4 at the beginning of the push.

The value quickly slows down to 2, and below 1,  sim/operation/override/override_wheel_steer start switching between 1 and 0.

[2017-07-26 18:32] AirLuSa commented on #41
A friend of mine told me, that the german version contains a little bit to much atmospheric noise in his opinion. Maybe you can reduce it a little bit.

[2017-07-26 20:14] AirLuSa opened #43 "Liveries for AST-3F"
Hej,

I've created a few liveries for the AST-3F truck. Please download again the LH LOES livery to fix the conf.file. I accidentally thought they were pushing at Hannover EDDV.

Globground Berlin for EDDT and EDDB
[GlobeGroundBerlin.livery.zip](https://github.com/skiselkov/BetterPushbackC/files/1177907/GlobeGroundBerlin.livery.zip)

Hannover Aviation Ground Services for EDDV
[HAviationGroundServi

[2017-07-26 22:40] skiselkov commented on #43
Thanks for the paints, I've put them. Btw, for future reference, please send me the paints in PNG, not DDS format. The DDS files are automatically generated by my build scripts, but I keep PNGs in the repo (because they're smaller).

[2017-07-27 12:21] skiselkov commented on #41
@Semirben I'll prepare a version which is a little bit louder and with less noise.
@AirLuSa Could I ask you if you could record two more messages? I've reworked the "driving away" phase and split up `done.wav` into two messages, depending on which side of the aircraft the tug will be leaving. The English text of the new messages is:
* `done_left.wav`: "Tow is disconnected and bypass pin has been r

[2017-07-27 14:23] AirLuSa commented on #41
Wow. Nice feature.

Ok: I've translated it to "Der Schlepper wurde entfernt, der bypass-pin ist gezogen. Freizeichen gibt's von der linken/ rechten Seite. Einen angenehmen Flug, Tschüss."  So it's not a word by word translation, but the content is the same.
[done_left_right.zip](https://github.com/skiselkov/BetterPushbackC/files/1180241/done_left_right.zip)

[2017-07-27 14:31] skiselkov commented on #41
Sounds good, thanks. I'm still mulling over whether to call it "clear signal" or "hand signal" in the English as well. The former is officially correct phraseology, but the latter is a bit easier to understand and I've heard it used as slang as well. What do you think?

[2017-07-27 15:56] AirLuSa commented on #41
Use what you like most.

[2017-07-27 22:34] skiselkov commented on #43
Released in 0.29. Please check if I didn't mess anything up.

[2017-07-27 22:40] skiselkov commented on #41
Remastered German audio & built in the new clear on left/right messages in v0.29. Please test.

[2017-07-27 22:41] skiselkov commented on #3
Ramzzess released an update for the 757v2 and 767 which addresses the incompatibility. Please test with BetterPushback v0.29, should now be fully functional.

[2017-07-28 08:38] McDonne11 opened #44 "Question about taildraggers aircrafts."
Greetings!
Is it possible to add tow tractor for taildraggers aircrafts?
Thank you in advance for an answer!
Something like this:
![1](https://user-images.githubusercontent.com/30194437/28709508-2cdb6c80-73b3-11e7-917d-8f126152ea0a.jpg)

[2017-07-28 09:31] skiselkov commented on #44
Perhaps in the future, but not right now. BP was primarily meant for airliners, so all of its control and sequencing logic reflects that. Taildraggers are typically small GA aircraft, so much of that logic wouldn't apply. I'll keep this around to remind me though, to see if I come up with a way to integrate it in the future.

[2017-07-28 10:03] AirLuSa commented on #41
Sound good now ;-)

[2017-07-28 10:06] AirLuSa commented on #43
looks fine... ;)

[2017-07-28 10:29] skiselkov commented on #43
Thanks, I'll close this now.

[2017-07-28 10:29] #43 closed

[2017-07-28 10:32] skiselkov commented on #41
Thanks for testing. I'll keep this open for a couple more days in case some of the other guys find the audio is still not good enough, then I'll close it.
I readjusted the EQ settings. I had the EQ set to cut off just a bit too much in the 3-4 kHz range and put in too much of the low-frequency rumble, resulting a slightly too booming and muffled voice.

[2017-07-28 11:52] AtariX-Plane commented on #42
Where to send Russian sounds? Dry or Wet?

[2017-07-28 12:32] skiselkov commented on #42
@AtariX-Plane Please ZIP them up and attach them to a comment here. Not sure what you mean "dry or wet", but please record them as cleanly as possible. I will add the radio distortion myself. Thanks!

[2017-07-28 12:40] skiselkov opened #45 "Add French translation"
Need a translation of text and voice messages into French.

The text messages can be found here: https://github.com/skiselkov/BetterPushbackC/blob/master/data/po/strings.pot

Additional texts that need to be translated are on the icons:
* "Accept plan"
* "Cancel plan"
* "Connect first"
* "Delete segment"
* " Click & Drag"
* "Move view"
* "Click"
* "Place segment"
* "Mouse wheel"
* "Rotate segment"

[2017-07-28 12:41] skiselkov opened #46 "Add Italian translation"
Need a translation of text and voice messages into Italian.

The text messages can be found here: https://github.com/skiselkov/BetterPushbackC/blob/master/data/po/strings.pot

Additional texts that need to be translated are on the icons:
* "Accept plan"
* "Cancel plan"
* "Connect first"
* "Delete segment"
* " Click & Drag"
* "Move view"
* "Click"
* "Place segment"
* "Mouse wheel"
* "Rotate segment

[2017-07-28 12:41] skiselkov opened #47 "Add Spanish translation"
Need a translation of text and voice messages into Spanish.

The text messages can be found here: https://github.com/skiselkov/BetterPushbackC/blob/master/data/po/strings.pot

Additional texts that need to be translated are on the icons:
* "Accept plan"
* "Cancel plan"
* "Connect first"
* "Delete segment"
* " Click & Drag"
* "Move view"
* "Click"
* "Place segment"
* "Mouse wheel"
* "Rotate segment

[2017-07-28 12:42] skiselkov opened #48 "Add Korean translation"
Need a translation of text and voice messages into Korean.

The text messages can be found here: https://github.com/skiselkov/BetterPushbackC/blob/master/data/po/strings.pot

Additional texts that need to be translated are on the icons:
* "Accept plan"
* "Cancel plan"
* "Connect first"
* "Delete segment"
* " Click & Drag"
* "Move view"
* "Click"
* "Place segment"
* "Mouse wheel"
* "Rotate segment"

[2017-07-28 12:42] skiselkov opened #49 "Add Greek translation"
Need a translation of text and voice messages into Greek.

The text messages can be found here: https://github.com/skiselkov/BetterPushbackC/blob/master/data/po/strings.pot

Additional texts that need to be translated are on the icons:
* "Accept plan"
* "Cancel plan"
* "Connect first"
* "Delete segment"
* " Click & Drag"
* "Move view"
* "Click"
* "Place segment"
* "Mouse wheel"
* "Rotate segment"

[2017-07-28 12:43] skiselkov opened #50 "Add Japanese translation"
Need a translation of text and voice messages into Japanese.

The text messages can be found here: https://github.com/skiselkov/BetterPushbackC/blob/master/data/po/strings.pot

Additional texts that need to be translated are on the icons:
* "Accept plan"
* "Cancel plan"
* "Connect first"
* "Delete segment"
* " Click & Drag"
* "Move view"
* "Click"
* "Place segment"
* "Mouse wheel"
* "Rotate segmen

[2017-07-28 12:44] skiselkov opened #51 "Add Chinese translation"
Need a translation of text and voice messages into Chinese.

The text messages can be found here: https://github.com/skiselkov/BetterPushbackC/blob/master/data/po/strings.pot

Additional texts that need to be translated are on the icons:
* "Accept plan"
* "Cancel plan"
* "Connect first"
* "Delete segment"
* " Click & Drag"
* "Move view"
* "Click"
* "Place segment"
* "Mouse wheel"
* "Rotate segment

[2017-07-28 15:09] AtariX-Plane commented on #42
"dry" it's as cleanly as possible :)
[BetterPushback_RU_Voices_Dry.zip](https://github.com/skiselkov/BetterPushbackC/files/1183438/BetterPushback_RU_Voices_Dry.zip)

[2017-07-28 15:14] JetNoise61 commented on #3
Tested it today FF B757, works without problems, as of now. Thank you.

[2017-07-28 15:19] skiselkov commented on #3
@JetNoise61 Thank you for testing. Closing it now.

[2017-07-28 15:19] #3 closed

[2017-07-28 15:19] AtariX-Plane commented on #42
I hope it will do.

[2017-07-28 15:24] skiselkov commented on #42
Thank you, it sounds very good! I have a few small requests for changes though. In v0.29 I've done some restructuring of the voice messages. Can you please translate and re-record these messages:

1. `done.wav` is split up into two messages. I did this because in version 0.29 the truck doesn't simply drive away. It stops for 15 seconds abeam the cockpit (either left or right), the driver gets out

[2017-07-28 15:48] AtariX-Plane commented on #42
It will be soon.

[2017-07-28 15:56] JetNoise61 commented on #41
I sent you a message about translations in general ;-)
I would use the wording "Hand signal". Most common.
Oliver

[2017-07-28 16:01] skiselkov commented on #41
@JetNoise61 Thank you. Saw your message. The best man to talk to about the choice of phraseology would be @AirLuSa, as he's the one who did the translation (and also works as a pushback driver). I'll be happy to include whatever you guys think is the most sensible choice.

[2017-07-28 17:11] AtariX-Plane commented on #42
[BetterPushbackC_RU_Voices_029.zip](https://github.com/skiselkov/BetterPushbackC/files/1183771/BetterPushbackC_RU_Voices_029.zip)

[2017-07-28 17:19] skiselkov commented on #42
Thank you, it sounds great. I'll start on mastering it right away.

[2017-07-28 17:20] AtariX-Plane commented on #42
It's not my voice and I did not record it. That guy's name is Denis Poligeshko. I just cut phrases according to the files.
Join our community : https://vk.com/laminar.research.xplane

Regards.

[2017-07-28 17:22] skiselkov commented on #42
Thank you. Can you please confirm that he is ok with his voice being included? I need to be 100% sure, because I cannot include somebody's voice without clear consent.

[2017-07-28 17:28] skiselkov commented on #42
Can you please also translate the text for menu items, error messages and icons?

Icon text:
* "Accept plan"
* "Cancel plan"
* "Connect first"
* "Delete segment"
* " Click & Drag"
* "Move view"
* "Click"
* "Place segment"
* "Mouse wheel"
* "Rotate segment"

The text messages for the menu and error messages are:
* "Can't start planner: aircraft not stationary."
* "Can't start planner: pushback alre

[2017-07-28 18:16] skiselkov commented on #42
@AtariX-Plane Can you please have Denis Poligeshko e-mail that he is OK to have his voice used? I have everything ready, but I cannot commit the change unless I get a clear answer on this.

[2017-07-28 18:22] AtariX-Plane commented on #42
It's OK. He's make it specially for you.
vanslyer@gmail.com

[2017-07-28 18:24] skiselkov commented on #42
@AtariX-Plane Thank you for the clarification. Can you please also translate the messages above? No need to record that into audio, just text is OK.

[2017-07-28 18:25] AtariX-Plane commented on #42
I'm already doing this

[2017-07-28 18:33] AtariX-Plane commented on #42
I'm not sure that the Cyrillic alphabet is displayed in X-Plane

[2017-07-28 18:35] skiselkov commented on #42
It will definitely be OK on the icons (those are PNG images) and I'm sure we can somehow get X-Plane's text to work, don't worry :)

[2017-07-28 18:37] AtariX-Plane commented on #42
It'll be cool

[2017-07-28 18:43] skiselkov commented on #42
I just tested it, both X-Plane 11 and X-Plane 10 display Cyrillic text just fine.

[2017-07-28 20:03] birdydma commented on #45
Accept plan : Accepter le tracé . If there is not enough room: Accepter tracé
Cancel plan : Abandonner le tracé or Abandonner tracé
Connect first : Prépositionnement
Delete segment : Effacer le segment or Effacer segment
Click & Drag : Cliquer et déplacer
Move view : Déplacer la vue or Déplacer vue
Click : Cliquer
Place segment : Ajouter le segment or Ajouter segment
Mouse wheel : Molette de la so

[2017-07-28 20:19] skiselkov commented on #45
Thank you! I think I will use the shorter versions so I have space to make the font bigger.

[2017-07-28 20:24] AtariX-Plane commented on #42
Sorry, what this message means? "Connect tug before entering pushback plan"
And can you, in a nutshell, tell us how you managed to add the Cyrillic alphabet to the plugin interface?

[2017-07-28 20:39] skiselkov commented on #42
The message means that the pushback tractor will drive up and connect to the aircraft without forcing the user specify a pushback route. The tractor will then wait until the user is ready to start pushback - then the plugin will show the planning view again and the user can finish the pushback route. The purpose of this is to allow minimal delay during planning of the pushback and actually startin

[2017-07-28 20:43] birdydma commented on #45
I am looking for any official phraseology, in french, between tug and crew. Is there any one, or English only is used? Will know.

[2017-07-28 20:52] skiselkov commented on #45
I don't know for sure, but I imagine when both ground crew and cockpit crew are French, they just talk French. However, I plan on adding the feature that when a foreign aircraft is at a French-native airport, the ground crew speaks English, but with a French accent. So if you can record both a French and English version (*with* French accent - that is *good* :) ), that would be perfect.

[2017-07-28 21:14] skiselkov commented on #45
Btw: I can also change the wording on the keyboard key images, so can you tell me how the following keyboard keys are called in French:
* "Enter"
* "Esc"
* "Del"

[2017-07-28 22:39] RomanKrotov commented on #42
Skiselkov,I will translate   the text for menu items, error messages and icons.Wait 20min.

[2017-07-28 22:46] skiselkov commented on #42
@RomanKrotov Thank you. Btw: my name is Saso Kiselkov, "skiselkov" is just a shorthand :)

[2017-07-28 22:55] RomanKrotov commented on #42
[Uploading BetterPushbackC_English_2_Russian .txt…]()

[2017-07-28 22:57] skiselkov commented on #42
Thanks @RomanKrotov !

[2017-07-28 22:58] RomanKrotov commented on #42
No problem @Saso Kiselkov ;)

[2017-07-28 23:18] RomanKrotov commented on #42
@skiselkov New version of translation.
[BetterPushbackC_English_2_Russian (3).txt](https://github.com/skiselkov/BetterPushbackC/files/1184449/BetterPushbackC_English_2_Russian.3.txt)

[2017-07-28 23:35] skiselkov commented on #42
Updating...

[2017-07-28 23:41] skiselkov commented on #45
@birdydma Will you be able to record the audio messages yourself? Or do you know somebody who could do it?

[2017-07-29 00:17] AtariX-Plane commented on #42
Wait for the update. Now there will be a more correct option.

[2017-07-29 00:19] skiselkov commented on #42
Lol, I just committed the changes. No problem, I'll update what needs to be updated.

[2017-07-29 01:10] AtariX-Plane commented on #42
[BetterPushbackC_ RU.txt](https://github.com/skiselkov/BetterPushbackC/files/1184541/BetterPushbackC_.RU.txt)
This is the final version. I hope ;))

[2017-07-29 01:11] skiselkov commented on #42
Thanks!

[2017-07-29 01:13] AtariX-Plane commented on #42
Teamwork. Good Luck.

[2017-07-29 01:14] RomanKrotov commented on #42
Thanks.Join to our X-Plane community https://vk.com/laminar.research.xplane .

[2017-07-29 01:15] skiselkov commented on #42
@RomanKrotov Thanks for the offer, but I don't do any social networking (no twitter/facebook/whatever either, only e-mail). I'm old-school like that ;)

[2017-07-29 02:30] NathanCG2 opened #52 "Add portuguese translation?"
Thank you very much, your work is amazing, and i have one request for you, could you please add portuguese translation?

[2017-07-29 07:09] birdydma commented on #45
Enter = Entrée
Esc = Esc
Del = Suppr

[2017-07-29 07:22] birdydma commented on #45
About voice messages:

It will be ASAP (August is a slowed down month).
1 - Find an official phraséo.
2 - If we find nothing, we will write a plausible french phraseo.
3 - Organize a reality show to select the better voice. May be 2 different voices for french speaking in french, and french speaking in English.

[2017-07-29 07:44] AirLuSa commented on #41
Well I'm not a pushback driver, but a ramp agent and in this position we sometimes do the walk out assistance while pushback operation and then I'm responsible for the communication during the pushback.

[2017-07-29 08:44] JetNoise61 commented on #41
Hi,
I think i have to appologize.
Was there a different guy speaking the german text initially?
I tried the (New?) translations today and they are much better.

To my excuse: I am/was used to listening to gnd operations from the international military side. (Air-Crew)

Guess civilians are more relaxed ;-) or things have changed in the last 10 years, haha
English is (was) mandatory.....

Anyway, Al

[2017-07-29 09:11] AirLuSa commented on #41
No. It was me from the beginning. To my mind Skiselkov just remastered the sound files for better quality.

Well, you are right, the standard language is of course english, but if you have german speaking pilots and a german speaking ground crew, it's common to do the pushback and start up communication in german, there are only a handful pilots which still wish do that in english. So maybe yes th

[2017-07-29 09:42] skiselkov commented on #45
@birdydma Thank you!

[2017-07-29 10:06] skiselkov commented on #52
I'm sorry, but right now the thing works by following the language setting of X-Plane itself, and X-Plane only comes with these languages:
[code]
I'd have to design some sort of custom language picker GUI. Maybe in the future for a `2.0` version. I'll keep this in mind. Thank you for the suggestion!

[2017-07-29 10:15] birdydma commented on #45
WIP. Air France procedure since 2010/10

https://youtu.be/4ZbKEFyKFOg?list=PL2Gz8JpueP7R6uRsq4ojQYzih8g0p5_vi

[2017-07-29 10:28] skiselkov commented on #45
Looks very good. Looking forward to the audio. In the mean time, can please also translate the text for the error message and menu items: https://github.com/skiselkov/BetterPushbackC/blob/master/data/po/strings.pot
You can put the translated strings into a comment here.

[2017-07-29 10:42] skiselkov commented on #45
Here are the finished icons, please check if I made a mistake somewhere:
* https://github.com/skiselkov/BetterPushbackC/blob/master/data/icons/fr/accept_plan.png
* https://github.com/skiselkov/BetterPushbackC/blob/master/data/icons/fr/cancel_plan.png
* https://github.com/skiselkov/BetterPushbackC/blob/master/data/icons/fr/conn_first.png
* https://github.com/skiselkov/BetterPushbackC/blob/master/da

[2017-07-29 11:19] owentar commented on #47
I will try to add translations for the Spanish version. So far couldn't find a youtube video to have a close look to the real phraseology that is used in Spanish. I found this PDF though which contains part of the phraseology: http://www.dgac.go.cr/aeronautica/licencias/MANUAL%20DE%20FRASEOLOGIA.pdf (page 139)

[2017-07-29 12:10] skiselkov commented on #47
@owentar Thank you, any help would be greatly appreciated!

[2017-07-29 12:53] skiselkov commented on #42
Thank you guys for the translations. Please check if I got it all right:

text strings:
https://github.com/skiselkov/BetterPushbackC/blob/master/data/po/ru/strings.po

icons:
https://github.com/skiselkov/BetterPushbackC/blob/master/data/icons/ru/accept_plan.png
https://github.com/skiselkov/BetterPushbackC/blob/master/data/icons/ru/cancel_plan.png
https://github.com/skiselkov/BetterPushbackC/blob/m

[2017-07-29 17:51] birdydma commented on #45
https://github.com/skiselkov/BetterPushbackC/blob/master/data/icons/fr/delete_seg.png

Nice and fast. I have only a problem with the delete seg.
We can keep it as it is, but i am not happy with my translation. If you have time, can you replace it with:

Supprimer le segment, or if too long: Supprimer segment?

[2017-07-29 17:54] birdydma commented on #45
Text for error message in few days.

[2017-07-29 18:35] NathanCG2 commented on #52
Ok, no problem.

[2017-07-29 18:53] Igrok-kun commented on #42
Hello, guys!

At first have to say to @skiselkov a huge thanks for the awesome plugin. Great job, man! Second, I'm glad we will have russian version of text strings. Unfortunatelly, I've noticed there are some grammatical mistakes in actual version. Mostly commas, also with some words writing. I've fixed it for you, here is the result.

I hope it will help. Will wait for new versions of great plug

[2017-07-29 21:13] noto1125 opened #53 "FF B757v2 #29"
The FF B757v2 only pushes straight back and has to be stop via the menu. It does not turn the aircraft as pre the plan.

Great work, it adds so my dynamism to simming.

[2017-07-29 21:20] skiselkov commented on #53
Please update your version of the  757v2, the problem you describe has been fixed by FlightFactor in version 2.0.27 of the 757v2.

[2017-07-29 21:20] #53 closed

[2017-07-30 00:00] skiselkov commented on #45
No problem. Done. Please check it now.

[2017-07-30 00:24] skiselkov commented on #42
Ok, strings updated. I'll be rolling a new build with the Russian translation out shortly, just need to test it on all platforms.

[2017-07-30 00:51] Jorge-R-Hidalgo opened #54 "Incompatibility"
Someone knows if there is any incompatibility with other addons, I have problems to follow the selected plan, it gets slow and does not turn the plane at any airport ... sorry for my English ... greetings.

[2017-07-30 00:53] skiselkov commented on #54
Which airplane are you using? Is it the FlightFactor Boeing 757 or 767? If so, can you make sure you've updated to the latest version of these airplane models via FlightFactor's X-Updater service? FlightFactor released a fix for the incompatibility two days ago.

[2017-07-30 01:05] skiselkov commented on #42
Please test v0.30 if the sound and text looks ok.

[2017-07-30 01:06] skiselkov commented on #45
French icons are included in v0.30.

[2017-07-30 01:06] Igrok-kun commented on #42
I'll do it during 45 minutes.

Btw, I noticed one more typo in the text %)

[2017-07-30 01:30] Igrok-kun commented on #42
It´s not working for me now at all. Plugin is not loading into the sim:

2017-07-30 04:28:52 acfutils[helpers.c:702]: Error creating directory D:\Program Files (x86)\Steam\steamapps\common\X-Plane 11\\Output\caches\BetterPushbackAirports.cache: System can't find designated path

[2017-07-30 01:44] skiselkov commented on #42
Ah ok I messed something up. I'll make a new build in 6 hours. For now you
can work around the problem by manually creating the Output/caches folders
inside X-Plane.

Saso

On Jul 30, 2017 3:30 AM, "Igrok-kun" <notifications@github.com> wrote:

[2017-07-30 08:25] skiselkov commented on #42
Please try v0.31 to see if the problem persists.

[2017-07-30 08:29] birdydma commented on #45
French icons in 0.30 are approved.

[2017-07-30 11:10] TheAutumnSky commented on #42
I tested it a little. Everything works perfectly! Master audio cool! Thank you!

[2017-07-30 17:07] birdydma commented on #45
Text of error messages (saved with notepad ++)

[strings .zip](https://github.com/skiselkov/BetterPushbackC/files/1185851/strings.zip)

Messages are not displayed (0.31). Ie using smartco: connection lost. It was displayed with older releases

[2017-07-30 17:15] skiselkov commented on #45
Thank you!

Strange, I have not changed anything in that logic in a while. I'll try to figure it out.

[2017-07-30 17:46] skiselkov commented on #45
Please check if I got it right: https://github.com/skiselkov/BetterPushbackC/blob/master/data/po/fr/strings.po

[2017-07-30 18:03] birdydma commented on #45
Correct.

Smartco: during the pushback, the slave push a request command, master release them, the push continue, but the turn is not done (no message). Now, we revert back the commands, the turn is done.

If the connection is lost, only the slave have the message displayed.

[2017-07-30 19:55] skiselkov commented on #45
Thanks for the explanation. I'll try to investigate.

This is expected behavior. The master doesn't really monitor the connection, because the master doesn't depend on any information from the slave. It's the slave that can't continue if the connection is lost.

[2017-07-30 20:53] birdydma opened #55 "Request for PB with TU 154M"
New release today. The TU 154M is know friend with XP 11. Did a quick test without any problem

http://forums.x-plane.org/index.php?/forums/topic/104605-tu154-updates/

The tug is patiently waiting for a parking brake on (As it is already on). On, off, on, off, nothing happen. NWS was engaged.

[2017-07-30 22:00] skiselkov commented on #55
I see what the problem (custom parking brake dataref). Should be easy to fix.

[2017-07-30 22:13] thagreenkronic opened #56 "Friend couldnt turn on plugin"
I was helping someone install this plugin and told them to get the latest version, v0.31.
Upon installing the plugin was turned off by default in the plugin admin menu and pressing the checkbox did nothing. No green tick came up.
I updated to the latest version from v0.28 and it worked fine for me.
So I told him to downgrade to v0.28, since that was the last one I tried, and it worked fine for him

[2017-07-30 22:24] skiselkov commented on #56
Can you please confirm that he was *definitely* running version `0.31` and not `0.30`? There was a bug in `0.30` which could cause the problem you're describing, which is why I pushed out `0.31` as soon as possible. If you have the `Log.txt` from your friend, that would be very helpful.
I will be publishing a new version (`0.32`) in about 30 minutes. If you could test with that and report back to

[2017-07-30 22:43] skiselkov commented on #55
Can you test with `v0.32`? The plugin can't override the nose gear yet, you might need to disable the nose gear steering in the aircraft. Need to talk to Felis for that.

[2017-07-30 22:43] skiselkov commented on #56
Please test with `v0.32` and report back how it went.

[2017-07-31 00:44] sjedd opened #57 "No tug skin"
I installed ver .29 in the latest xplane 11.05r1 and I get the tug BUT it is all grey with no skin. I've installed a fresh copy of xplane 11 without any plugins except betterpushback and still get only grey tug.  Everything appeared fine when I was using ver. .16 of betterpushback. How can I return to ver. .16

[2017-07-31 00:55] skiselkov commented on #57
Can you please post your `Log.txt`? If the tug is all grey, that could be a texturing problem, missing files or something. That will show up in the `Log.txt` file, so I need to see it to figure out what the problem might be.

[2017-07-31 01:26] sjedd commented on #57
Yes, here is the log.txt
[Log.txt](https://github.com/skiselkov/BetterPushbackC/files/1186169/Log.txt)

[2017-07-31 01:26] sjedd commented on #57
I'm sorry, I meant to keep this issue open

[2017-07-31 03:58] cpuwolf commented on #19
latest version works fine

[2017-07-31 08:13] Devirex opened #59 "Change language to english on non-national airports"
I have selected german as X-Plane language and now the tug driver speaks german all the time, even if i am on an non german airport (Spain or France). Could it be changed to english in case that you are not on an german (or the laguage you have selected) airport?

[2017-07-31 08:45] skiselkov commented on #59
Thanks for the request, I'm already working on this. Expect this to arrive soon.

[2017-07-31 08:55] Devirex commented on #59
Thanks a lot for the quick reply. This fantastic plugin has got also great support.

[2017-07-31 08:55] skiselkov commented on #57
Please check under `C:\X-Plane 11 new\Resources\plugins\BetterPushback\objects\tugs\AST-3F.tug\liveries\Swissport.livery`. You should be able to find the following file there: `AST-3F_tex.dds`. If it isn't there, you didn't extract BetterPushback correctly.

[2017-07-31 09:00] skiselkov commented on #42
Closing this now as complete.

[2017-07-31 09:17] jakobeng1303 opened #60 "Left click doesn't work"
v0.31 in the plugin directory
iMac 5k 10.12.6 Magic Trackpad 2
newest non beta Xp11 from steam (11.02 I think)
FF 763
I had this bug in the first couple of versions too but didn't have enough time to properly test because I was on holidays soon after but having arrived yesterday and dowloaded the newest version it still didn't work

I'm unable to left click and therefore plan a push. Any ideas/sug

[2017-07-31 09:21] skiselkov commented on #60
Currently the click vs click-and-drag detection is rather primitive. It expects a click to take no longer than 0.2 seconds, otherwise it considers it a "click-and-drag" to reposition the view. If you are holding down the track pad for longer than 0.2 seconds, it will not detect as a click. As a temporary workaround until I get this fixed, can you try clicking quickly (so don't hold down the track

[2017-07-31 09:23] jakobeng1303 commented on #60
I'm currently inflight to KIAD but I will try and get back to you ASAP

[2017-07-31 12:21] birdydma commented on #55
Test done.

No turn. The  datarefs for NWS are:

sim/aircraft/gear/acf_nw_steerdeg1 (10, 65)
sim/aircraft/gear/acf_nw_steerdeg2 (10, 65)
sim/custom/SC/gear/tire_steer_command_deg, continuously from -65 to +65 or -10 to +10 (depend of the position of the NWS switch).

[2017-07-31 12:58] birdydma commented on #55
Solved. Thanks you skiselkov and Félis.

[2017-07-31 13:03] sjedd commented on #57
Yes, I checked and that file IS there

[2017-07-31 14:14] sjedd commented on #57
Here are two screenshots to show what it looks like.
![b738_2](https://user-images.githubusercontent.com/30581028/28781712-fcb3ba9e-75d8-11e7-9356-83b52d79d183.png)
![b738_3](https://user-images.githubusercontent.com/30581028/28781718-03a31cdc-75d9-11e7-94c5-e8a2b3977649.png)

[2017-07-31 14:35] birdydma commented on #45
In English with my nice accent. Let me know.
[English with french accent.zip](https://github.com/skiselkov/BetterPushbackC/files/1187864/English.with.french.accent.zip)

[2017-07-31 15:23] skiselkov commented on #55
I've still found some problems with the pushback stability, because BetterPushback was taking non-existent gears into account. Fix coming in a moment.

[2017-07-31 15:33] birdydma commented on #45
In french
[French with french accent!.zip](https://github.com/skiselkov/BetterPushbackC/files/1188039/French.with.french.accent.zip)

[2017-07-31 15:44] skiselkov commented on #55
Please test with `0.33`. The pushback instability and side-to-side swaying should be gone.

[2017-07-31 15:46] skiselkov commented on #60
Please test v0.33, clicking determination is no longer based on time, so it should allow you to slow-click on a track pad just as well.

[2017-07-31 15:56] skiselkov commented on #57
Yep, that looks like a missing texture file. Can you please do a full listing of what files are under `objects/tugs/AST-3F/liveries`? Because it seems pieces of the plugin are missing and I don't know if you installed it wrong, or if it's all there and something else is causing the problem.

[2017-07-31 17:15] skiselkov commented on #45
Thanks for the audio! I'll start mastering it, expect in the next update.

[2017-07-31 17:21] sjedd commented on #57
As far as installation, I just place the whole BetterPushback folder into the Resources/Plugins folder. Under liveries there are 5 folders. generic.livery has AST-3F_lit.dds and AST-3F_tex.dds: GlobeGroundBerlin.livery has AST-3F_tex.dds and info.cfg; HAviationGroundServices.livery has AST-3F_tex.dds and info.cfg: LEOS.livery has the same 2 files and Swissport.livery also has the same 2 files.

[2017-07-31 17:27] jakobeng1303 commented on #60
I trief and the clicking works a lot better! Sadly it seems like the tug doesn't follow the path and it outputs the message that the pushback failed. Te route was plugged in correctly

[2017-07-31 17:28] skiselkov commented on #60
I understand. Please attach your Log.txt and also please specify exactly what error it printed. Or if you can make a short video of the pushback to show me what happened, that would be even better.

[2017-07-31 17:33] jakobeng1303 commented on #60
[Log.txt](https://github.com/skiselkov/BetterPushbackC/files/1188341/Log.txt)
That's the log. I planned the route, pressed the the connect button, started to push via the dropdown menu which caused the plugin to ask me again for the path I want to go, then it started and just continued backwards without stopping. it didn't print any error (at least I didn't see anything) but it said pushback faile

[2017-07-31 17:49] jakobeng1303 commented on #60
I'm unable to record it but I hope my description will help 1. plan in the layout 8works absolutely fine now!) 2. start, release brake, push starts 3. doesn't turn 4. push the stop button, set brake, truck leaves, I get the all clear sign and no warning anymore. I might have received the "failed push" because I set the brakes first before pushing the stop knob in the dropdown menu

[2017-07-31 18:15] skiselkov commented on #60
I see you're flying on the 767. Do you have the latest update? Ramzzess released a fix for the non-turning pushback (it was an incompatibility in the plane).

[2017-07-31 18:22] jakobeng1303 commented on #60
latest version of the 767 or this plugin?

[2017-07-31 18:28] skiselkov commented on #60
The aircraft, so the 767. Give me 15 minutes and I'll find which one should be the latest version (right now you're running version 1.1.28).

[2017-07-31 18:30] jakobeng1303 commented on #60
I stink it might be 1.1.32 or something along those lines. I'll just update it and get back to you

[2017-07-31 18:58] skiselkov commented on #60
Just tested on 1.1.32 - turns just fine. You need to update.

[2017-07-31 19:56] Igrok-kun opened #61 "Feature request: Light for night pre-pushback"
Hello @skiselkov!

This is the situation I met yesterday in Oslo: https://s8.hostingkartinok.com/uploads/images/2017/07/d437f97df108e8c222603b89c5527315.png

As you can see, there is no chance to find taxiway from such perspective in night time. Is it possible to make some kind of light near the cursor, which will helps to see the markings there?

Regards

[2017-07-31 19:58] skiselkov commented on #61
Shouldn't be too hard to implement. Let me run some tests.

[2017-07-31 20:46] skiselkov commented on #61
Done, will be coming out in next build.

[2017-07-31 21:07] Igrok-kun commented on #61
Thanks!

[2017-07-31 21:29] Igrok-kun commented on #55
I've tried just now. It said "Pushback failure. It seems aircraft does not have any steerable gears"

Tu-154 v 1.1.7
BP v 0.33

[2017-07-31 21:34] skiselkov commented on #55
You need hydraulics on - the Felis aircraft is weird like that, it pretends the nose gear can't steer if the hydraulics aren't pressurized.

[2017-07-31 21:52] Igrok-kun commented on #55
Ah, you are right. Now it works perfect, thanks.

[2017-07-31 23:38] skiselkov commented on #60
Closing the click issue. Please open a new one if you're still having trouble turning in the 767 (though I suspect it has to do with your install not having the latest update).

[2017-07-31 23:38] #60 closed

[2017-07-31 23:41] skiselkov commented on #57
I'll prepare a special debug version for you tomorrow with a lot more diagnostics enabled to hopefully help us narrow this down.

[2017-07-31 23:42] skiselkov commented on #55
I'll put in more detection code in the future to disable the steerability check on the Tu-154M. For now, I'll close this issue, since the incompatibility is resolved.

[2017-07-31 23:42] #55 closed

[2017-08-01 00:26] skiselkov commented on #61
Please test on v0.34.

[2017-08-01 00:27] skiselkov commented on #45
Please test audio on v0.34. Check if it's too loud, too quiet, too distorted, not enough distorted etc.

[2017-08-01 00:28] skiselkov commented on #41
I'll close this one for now. I'll be working on the location-aware voice language selection in a separate issue.

[2017-08-01 03:35] Jorge-R-Hidalgo commented on #54
Hi, skiselkov: The airplane I use to test is the default 737, I have a question, if the plane is cold and dark does the push normally or must be ready to start engines ?, the addons I have installed are JARDesign, X- Life, Ground Handling, FollowMe Car and TugMaster, with some of these addons there is some kind of incompatibility ?.

[2017-08-01 05:36] thagreenkronic commented on #56
Im sorry, I only know him from a xplane facebook group and not in RL. Perhaps he did download the wrong one. I did ask him to continue testing after v0.28 worked for him by updating again and seeing if it worked but he did not seem interested, he was just happy to have it working.

[2017-08-01 09:19] jakobeng1303 commented on #60
thanks a lot! I love it and I was very surprised to see the great implementation in the 767!

[2017-08-01 09:19] jakobeng1303 commented on #60
Sorry, should have been posted yesterday but it seems like github thought differently..

[2017-08-01 10:19] skiselkov commented on #60
No worries, glad I could help.

[2017-08-01 11:58] skiselkov commented on #56
Closing as invalid then.

[2017-08-01 11:58] #56 closed

[2017-08-01 13:15] skiselkov commented on #54
The airplane can be cold and dark and the pushback should still function normally. Can you attach your `Log.txt` from when it's behaving incorrectly?

[2017-08-01 15:10] birdydma commented on #45
You did a good job, not me. My translation of driving-up is completely wrong.

Here is the new one.
[driving_up.zip](https://github.com/skiselkov/BetterPushbackC/files/1191015/driving_up.zip)

[2017-08-01 15:24] birdydma commented on #45
Messages. For exemple, this one:

msgid "Can't start planner: aircraft not stationary."
msgstr "Ouverture du planificateur impossible: l'avion n'est pas à l'arrêt."
is always in English.

Is it a WIP, or a bug?

[2017-08-01 15:30] skiselkov commented on #45
Thanks, I'll remaster this sound.

Definitely a bug. Will fix.

[2017-08-01 17:47] Igrok-kun commented on #61
Works awesome for me now: https://s8.hostingkartinok.com/uploads/images/2017/08/8ec11746d9d65494697da8f839b11d6e.png

Thanks!

[2017-08-01 18:27] skiselkov commented on #61
Thanks for the feature suggestion!

[2017-08-01 18:27] #61 closed

[2017-08-02 02:00] Jorge-R-Hidalgo commented on #54
Hi Skiselkov: Fix the problem!!!, delete the X-Plane.prf file in the X-Plane 11\ Output\preferences folder, run X-Plane again and now it works perfectly. Thank you.

[2017-08-02 02:09] skiselkov commented on #54
Wow, when in doubt, delete preferences - got it :) Glad you got it sorted.

[2017-08-02 02:09] #54 closed

[2017-08-02 14:11] McDonne11 commented on #59
And is it possible to add the subtitles?
For example:
Speech in native airport language
Text in your native language
It would be great!

[2017-08-02 17:29] parshukov commented on #9
as a developer of the patch 1 for An24 after Felis made this aircraft free and open source I can say - I will try to fix it ;)

[2017-08-02 17:33] parshukov commented on #47
hi, Saso. do you accept woman voice?) I have a friend who speaks Spanish like native speaker

[2017-08-02 17:34] skiselkov commented on #47
Of course, that'd be awesome!

[2017-08-02 17:35] skiselkov commented on #9
Thank you! It shouldn't be too difficult. Is it using a custom parking brake dataref like the Tu-154M? If so, what is it? I can pick it up instead of the standard one inside the plugin.

[2017-08-02 17:39] parshukov commented on #47
ok)

[2017-08-02 17:42] parshukov commented on #9
I will check it and write here

[2017-08-02 18:17] skiselkov commented on #9
You can see which datarefs BP looks at here: https://github.com/skiselkov/BetterPushbackC/blob/master/src/bp.c#L575-L580

[2017-08-02 18:41] parshukov commented on #9
try this one for an24
defineProperty("brake1", globalPropertyf("sim/flightmodel/controls/l_brake_add")) -- gear brake ratio. 0 = min, 1 = max
defineProperty("brake2", globalPropertyf("sim/flightmodel/controls/r_brake_add")) -- gear brake ratio. 0 = min, 1 = max
defineProperty("emerg_brake", globalPropertyf("sim/custom/xap/An24_hydro/emerg_brake"))  -- pressure in braking system
defineProperty("blo

[2017-08-02 19:10] parshukov commented on #9
sorry. do not look at my last message, try this one:
sim/flightmodel/controls/parking_brake
0.70 - on
0- off

[2017-08-03 01:54] cpuwolf commented on #57
why not try lastest verion v34?

[2017-08-03 02:18] skiselkov commented on #45
Please test on v0.35. I've implemented the French-accented English stuff as well. See release notes, that should explain it better.

[2017-08-03 02:19] skiselkov commented on #51
@cpuwolf Please test Chinese strings & icons on v0.35. You can select the language via the plugins -> BetterPushback -> Preferences window.

[2017-08-03 02:21] skiselkov commented on #59
@Devirex Feature has been implemented in v0.35. See release notes for details.
@McDonne11 I'll think about implementing it. Right now BP doesn't include any kind of text rendering facilities of its own, so it's not just a simple matter of flipping a few switches. Maybe as I get closer to a 1.0.

[2017-08-03 02:24] skiselkov commented on #52
@NathanCG2 I've implemented a method of selecting custom languages for BP, which would allow me to provide a Portuguese translation, so I'm reopening this now.  If you are interested in translating text for me and (even better) recording audio messages, I can provide you with the exact details of what I need.

[2017-08-03 03:34] NathanCG2 commented on #52
My english is very simple, but i'll try to translate the messages, If there is another Brazilian in this forum could help me?

OBS: I changed "ground to cockpit" for commandant, better than "ground to cockpit" in Portuguese. And i can't record the audios, i'm sorry.

    "Accept plan"
    "Cancel plan"
    "Connect first"
    "Delete segment"
    "Click & Drag"
    "Move view"
    "Click"
    "Pla

[2017-08-03 08:43] parshukov commented on #9
Saso, do you create any datarefs for a pushback to know, that he is operating? I looked at Felis code of Yak40 and there is ............. won't say it))) for me it is easier to add into the logic some if-then-else so to disable logic while the pushback is operating)

[2017-08-03 09:35] alessandro61 opened #62 "PB Failure"
"error initialising audio message. Please reinstall PB"
New PB does not work.
Thanks.
Alessandro
[Log.txt](https://github.com/skiselkov/BetterPushbackC/files/1196699/Log.txt)

[2017-08-03 09:45] parshukov commented on #62
it is because Saso forgot to insert msg folder with audio files into the archive. You can take that folder from the previous release

[2017-08-03 09:52] alessandro61 commented on #62
Now it works.
Thank you and regards.
Alessandro

[2017-08-03 09:57] skiselkov commented on #62
Ah sorry about this guys, new packaging script messed up. Will fix in a moment.

[2017-08-03 10:22] skiselkov commented on #62
Fix is out in v0.36. That's what I get for making last minute changes without testing.

[2017-08-03 10:28] skiselkov commented on #9
Yes, you can look at the int `bp/started` dataref. It's set to 1 when the tug is moving around the aircraft. However, I remember you sending something about `sim/flightmodel/controls/parking_brake` - is this still correct? I can add an extra line that checks for the Yak-40 and uses that dataref for the parking brake instead of the normal one.

[2017-08-03 10:30] parshukov commented on #9
Ok, I will implement it in to the aircraft logic. sim/flightmodel/controls/parking_brake is not on 100% correct, cause there is custom logic for braking system... thanks! I will use int` bp/started` and check it!

[2017-08-03 11:46] skiselkov commented on #45
@birdydma Can you please translate these new texts for me:
* "Preferences"
* "BetterPushback Preferences"
* "User interface"
* "X-Plane's language"
* "Ground crew audio"
* "My language only at domestic airports"
* "My language at all airports"
* "English at all airports"
* "Save preferences"
* "Ground crew speaks my language only if the country the airport is in speaks my language. Otherwise the g

[2017-08-03 11:46] skiselkov commented on #41
Can you please translate these new texts for me:
* "Preferences"
* "BetterPushback Preferences"
* "User interface"
* "X-Plane's language"
* "Ground crew audio"
* "My language only at domestic airports"
* "My language at all airports"
* "English at all airports"
* "Save preferences"
* "Ground crew speaks my language only if the country the airport is in speaks my language. Otherwise the ground crew

[2017-08-03 11:47] skiselkov commented on #52
Can you please also translate these texts for me:
* "Preferences"
* "BetterPushback Preferences"
* "User interface"
* "X-Plane's language"
* "Ground crew audio"
* "My language only at domestic airports"
* "My language at all airports"
* "English at all airports"
* "Save preferences"
* "Ground crew speaks my language only if the country the airport is in speaks my language. Otherwise the ground cre

[2017-08-03 12:05] parshukov commented on #9
well... I made some improvements into the code, so who wants to fly on Yak40 can download this file and change the existing in the Custom Avionics folder.
[brake_logic.zip](https://github.com/skiselkov/BetterPushbackC/files/1197116/brake_logic.zip)

[2017-08-03 12:09] AirLuSa commented on #41
"Einstellungen"
"BetterPushback Einstellungen"
"Benutzeroberfläche"
"Ausgewählte Sprache in X-Plane"
"Audio Bodenpersonal"
"Meine Sprache für inländische Flughäfen"
"Meine Sprache für alle Flughäfen"
"Englisch für alle Flughäfen"
"Einstellungen sichern"
"Bodenpersonal spricht meine Sprache, wenn sich der Flughafen in einem Land befindet, in dem meine Sprache gesprochen wird. Falls nicht, spricht s

[2017-08-03 12:13] skiselkov commented on #9
Thanks, I'll give this one a try.

[2017-08-03 13:01] OscarAlpha commented on #47
I am Spanish, and yesterday I started to translate the strings.pot archive before reading this page.
Can I continue? I can try to record the male voices if you want.

[2017-08-03 13:04] skiselkov commented on #47
@OscarAlpha Please do continue and record it! If I get more than one translation set, we'll work together to pick the best lines (this already happened with the German & Russian translation). And I get more than one good quality sound set, it's easy for me to implement randomization so that we would cycle between the available ones randomly - should help get some variety and prevent boredom :)

[2017-08-03 13:22] sjedd commented on #57
Did try ver. 0.34 and also the latest version 0.36. No change. Tug is still greyed out.

[2017-08-03 13:23] sjedd commented on #57
Hopefully Skiselkov will provide the debug version and that will track it down.

[2017-08-03 14:48] skiselkov commented on #41
Thank you very much. One more thing, if possible, could you please record the English messages with a German accent as well? That way the accented versions would be played for non-German pilots when flying in German-speaking countries.

[2017-08-03 15:21] AirLuSa commented on #41
Done. :-)
[german_english.zip](https://github.com/skiselkov/BetterPushbackC/files/1197668/german_english.zip)

[2017-08-03 15:31] skiselkov commented on #41
Damn you're fast! Thanks!

[2017-08-03 16:47] skiselkov commented on #42
Can I ask you guys for two more favors in relation to Russian?

1. Could one of you record the messages in English with a Russian accent? BetterPushback will automatically switch to that sound set when a non-Russian pilot is flying in a Russian-speaking territory.

1. Can you please translate these new texts into Russian for me:
    * "Preferences"
    * "BetterPushback Preferences"
    * "User in

[2017-08-03 16:52] skiselkov commented on #9
Unfortunately it seems I can't test it, both the Yak-40 and An-24 crash X-Plane 10 on my machine (Linux).

[2017-08-03 16:54] parshukov commented on #9
Our community already tested it and it is OK :)

[2017-08-03 17:18] skiselkov commented on #9
Thank you. Magically, I tried it again and all of a sudden, it was ok... :) So I can confirm that now as well.
Just to advise: I'm going to make one change. Currently BP is picking the Goldhofer AST-3F tug to push the Yak-40. That is incorrect, the Yak-40 has single-wheel nose gear and the AST-3F cannot handle that. I've made changes so that the Yak-40 is handled by the smaller LEKTRO AP88, which

[2017-08-03 17:19] parshukov commented on #9
wow! sounds great!

[2017-08-03 17:20] birdydma opened #63 "Smartco with BP 0.36 and above."
Me again.

To avoid mismatches between master and slave, can you ad custom datarefs to synchronize the new BetterPushback Preferences.

I did a quick test , connection established, start engines, go for the pushback, settings were not similar.

I would say: of course.

[2017-08-03 17:21] birdydma commented on #45
Will do ASAP. I was not near my computer today.

[2017-08-03 17:25] skiselkov commented on #45
Thank you and no worries, there's no need to hurry.

[2017-08-03 17:43] TheAutumnSky commented on #42
Hi Saso .. I will definitely write files with a Russian accent. But only
about 10 hours. I have a night. Please send the text that I would not make
a mistake. Thank you. The translation of the text from paragraph 2 deals
with Andrew. Will send in 30 minutes.

2017-08-04 1:47 GMT+09:00 Saso Kiselkov <notifications@github.com>:

[2017-08-03 17:46] Igrok-kun commented on #42
Hello, guys

Translated
[BP_RUS.txt](https://github.com/skiselkov/BetterPushbackC/files/1198108/BP_RUS.txt)

[2017-08-03 18:08] skiselkov commented on #42
@TheAutumnSky Thank you! The text is this:

* `connected.wav`: "Tow connected and bypass pin inserted. Release parking brake."
* `disco.wav`: "Disconnecting tow. Stand by."
* `done_left.wav`: "Tow is disconnected and bypass pin has been removed, hand signal on the left, we'll see you next time and have a safe flight."
* `done_right.wav`: "Tow is disconnected and bypass pin has been removed, hand s

[2017-08-03 18:50] AtariX-Plane commented on #42
Check Other Translation
[new_trans_ru.txt](https://github.com/skiselkov/BetterPushbackC/files/1198272/new_trans_ru.txt)

[2017-08-03 19:04] skiselkov commented on #42
@AtariX-Plane Thank you.

[2017-08-03 19:21] skiselkov commented on #42
New text is in place. Please check if I got it right: https://github.com/skiselkov/BetterPushbackC/blob/master/data/po/ru/strings.po#L95-L138

[2017-08-03 19:43] Devirex commented on #59
Wow from native to accent to englisch, awesome!

[2017-08-03 19:54] slgoldberg commented on #3
Sorry I missed the window to test this for you .. my bad, work has been intense. Anyway, thanks so much -- it is working great.  (I hope adding this comment doesn't reopen.)

[2017-08-03 19:59] birdydma commented on #45
Here is.
[New texts.zip](https://github.com/skiselkov/BetterPushbackC/files/1198432/New.texts.zip)

[2017-08-03 20:05] skiselkov commented on #45
Thanks!

[2017-08-03 20:09] birdydma opened #64 "Follow me car"
As the planer is already done, a follow me car could be adaptable.
Is it a dream, or a silly idea?

[2017-08-03 20:18] birdydma commented on #63
I just realize: Restart X Plane for changes to take effect.

The end.

[2017-08-03 21:45] AirLuSa opened #65 "KLM Livery AST-3F"
KLM Livery for EHAM and the AST-3F
[KLM.livery.zip](https://github.com/skiselkov/BetterPushbackC/files/1198685/KLM.livery.zip)

[2017-08-03 23:03] skiselkov commented on #65
Thanks, will integrate.

[2017-08-03 23:14] skiselkov commented on #65
The livery looks a bit off and I can't accept it as-is. I mean I know KLM likes them their blue color, but there's a lot of "overspray", where the blue covers things it shouldn't, like the towbar mechanism at the front, the rear view mirrors, even the orange hazard beacon lamp domes (see below). I don't think this is very realistic, maybe try to be a bit more selective about is painted blue?

![sh

[2017-08-04 03:23] TheAutumnSky commented on #42
Hi, Saso! I'm sorry it took so long. Here is an audio with a Russian accent.
[RussianAccent.zip](https://github.com/skiselkov/BetterPushbackC/files/1199133/RussianAccent.zip)

[2017-08-04 03:31] TheAutumnSky commented on #42
Saso, have a suggestion! For Russian and Soviet aircraft, please do just such a tractor. This is a historic tractor! In provincial airports in Russia, such have been used so far.
![0_a7464_9ea5ca91_orig](https://user-images.githubusercontent.com/30557062/28953083-c25a037c-7910-11e7-8875-cf7ca36b20a4.jpg)

[2017-08-04 03:45] jorgeuvo commented on #52
Here it goes my contribution....

"Preferences"
"Preferências"

"BetterPushback Preferences"
"Preferências do BetterPushback"

"User interface"
"Interface do usuário"

"X-Plane's language"
"Idioma do X-Plane"

"Ground crew audio"
"Audio do pessoal de solo"

"My language only at domestic airports"
"Meu idioma somente em aeroportos domésticos"

"My language at all airports"
"Meu idioma em todos os a

[2017-08-04 03:52] jorgeuvo commented on #52
About the speech accent, Brazil has an accent completely different than any other Portuguese speaker countries. So, I suggest both, Brazilian accent and European accent, available. The European accent is switchable to any Portuguese speaker country, except Brazil.

[2017-08-04 06:52] thagreenkronic commented on #64
This feature would be amazing!

[2017-08-04 07:34] Pilotwillem opened #66 "No sound V0.36"
No sound with B CRJ200

[2017-08-04 08:04] AirLuSa commented on #65
Sorry released it a bit to quick ands there was an old .png file included. But I found some other regions to be fine tuned, so now it should look good. Although there are some things back which should be blue, but it cold be realized with the textures. ;-)

[KLM.livery.zip](https://github.com/skiselkov/BetterPushbackC/files/1199622/KLM.livery.zip)

[2017-08-04 11:15] skiselkov commented on #42
@TheAutumnSky

Thank you very much! And don't worry about it being late - there's no need to rush things. Software development isn't a race :)

I know it's a classic, but right now BetterPushback doesn't animated tractors with towbar properly, so I'm currently limited to towbarless tractors. I plan on adding towbar tractor support in the future, so then modeling this one will be on the table ;)

[2017-08-04 11:40] skiselkov commented on #66
*Always* attach a `Log.txt` when you're having trouble. Also, can you be a bit more specific about "no sound"? No tractor sounds? No ground crew audio? Did you check that you don't have the exterior and radio volume turned down in X-Plane?

[2017-08-04 11:42] skiselkov commented on #63
Let me think about this. It can make sense to sync audio settings between master & slave, since some of the timing of the pushback phase transitions depends on audio message length.

[2017-08-04 11:43] skiselkov commented on #62
Closing as fixed for now. If it still happens in v0.36, please reopen.

[2017-08-04 11:43] #62 closed

[2017-08-04 12:04] skiselkov commented on #65
Thanks!

[2017-08-04 12:08] skiselkov commented on #52
@jorgeuvo Don't worry, the audio selection in BetterPushback already supports this. It first looks for a "lang_COUNTRY" sound set before looking for a generic "lang" set. I implemented this *exactly* in anticipation of Brazil (and the UK). So if you supply me with Brazilian-accented Portuguese, it's easy to limit to Brazil and apply a generic Portuguese accent elsewhere.

[2017-08-04 12:09] Pilotwillem commented on #66
issue solved. x-plane set the audio preference back to zero. i don't know why.
compliments for plugin. it wonderfull.

[2017-08-04 12:10] skiselkov commented on #66
Glad to hear you got it sorted, closing this issue now.

[2017-08-04 12:10] #66 closed

[2017-08-04 12:13] skiselkov commented on #64
It's not silly, but it will require some coding work to get it to work in a fashion that I would find acceptable. For example, it should, as far as practicable, try to follow ATC clearances and follow the taxiway network. Having to manually plan the followme car path kind of defeats its purpose. I'll need to think about this some more, so placing "on hold" for now.

[2017-08-04 12:16] skiselkov commented on #52
@jorgeuvo Could you please also translate the rest of the strings in https://github.com/skiselkov/BetterPushbackC/blob/master/data/po/strings.pot ? This is for the plugins menu and error messages when something goes wrong. I forgot to ask earlier.
Thanks, appreciate it!

[2017-08-04 12:30] skiselkov commented on #59
Closing as complete.

[2017-08-04 12:30] #59 closed

[2017-08-04 13:13] skiselkov commented on #65
Looks better now, but I still have some complaints / suggestions for improvement:
![shot1](https://user-images.githubusercontent.com/3300688/28969802-5e176a24-7926-11e7-9cf5-982f4c9c73ac.png)
I highly doubt they'd paint the front rail, grill and towing assembly. Also, on the right you can see the top part of the floor panel is painted blue as well - kinda doubt they'd paint that bit blue.
![shot2]

[2017-08-04 13:58] birdydma commented on #64
Taxi holding point Golf runway 36 left via Tango Lima.

On hold is a sage advice. You are a perfectionist, that's why we love you. It will be perfect, or on hold forever.

[2017-08-04 14:21] AirLuSa commented on #65
As you can see on these pictures: https://c1.staticflickr.com/6/5111/5854091726_f71aa45550_b.jpg and https://upload.wikimedia.org/wikipedia/commons/c/c5/PH-BXT_KLM_%282765059002%29.jpg
which i used as reference as KLM doesn't have any AST-3F, nearly everything is blue and also the towbar connector is painted in blue. Furthermore the parts connecting the rearview mirror are also blue. I would have

[2017-08-04 15:09] AirLuSa commented on #65
Okay now it should be really fixed :-)
[KLM.livery.zip](https://github.com/skiselkov/BetterPushbackC/files/1200826/KLM.livery.zip)

[2017-08-04 15:41] AlexJohn73 opened #67 "Muffle Sound in Flight Deck"
I find the sounds to be a tad loud in the flight deck. Would it be possible to sort of muffle these sounds, so that the pushback tug is quieter, and cut the treble? Excellent plugin nonetheless.

[2017-08-04 15:42] jorgeuvo commented on #52
No Problem... Here are the strings translations...

msgid "Can't start planner: aircraft not stationary."
msgstr "Não pode iniciar o planificador: aeronave não está parada."

msgid ""
"Can't start planner: pushback already in progress. Please stop the pushback "
"operation first."
msgstr "Não pode iniciar o planificador: pushback já em progresso. Por favor primeiro pare a operação de pushback."

m

[2017-08-04 15:44] Igrok-kun commented on #42
@AtariX-Plane @skiselkov
Seems like newest translation has grammatical mistakes. As it was at the beginning, before I came: wrong commas and typos. Would we switch to previous one, maybe?

[2017-08-04 15:45] jorgeuvo commented on #52
About the Portuguese accents, there are no write difference. The differences are only when speaking.

Please let em know if you need more help.

Regards.

[2017-08-04 15:50] NathanCG2 commented on #52
@jorgeuvo thank you for contribution! 👍

[2017-08-04 15:56] jorgeuvo commented on #52
@NathanCG2 thank you too Nathan. Please double check my translation and feel free to make any correction.

[2017-08-04 16:10] skiselkov commented on #65
Thanks!

[2017-08-04 16:16] skiselkov commented on #64
Whoa you're giving me way too much credit. BP is by no means perfect. I've built that sausage factory and seen the insides of it... But really, the follow-me car functionality is something I'd love to do, but it's not going to be easy. Reading the taxiway layout is relatively easy. The hard part is designing an algorithm that somewhat sensibly picks a route on the taxiway layout to your destinatio

[2017-08-04 16:19] skiselkov commented on #67
Thanks for the feature request. I'll implement a volume slider in the Preferences and switch to a low-pass-filtered sound set when in the cockpit.

[2017-08-04 16:32] nriddell opened #68 "Texture resolution for liveries"
I've noticed that the texel density is inconsistent on the current liveries that have been added to the plugin resulting in low resolution textures in certain areas. Would you be able to provide the high poly mesh (if available) to allow a new UV unwrap and bake to enable consistent resolution across the whole map.

Happy to help

[2017-08-04 16:36] AlexJohn73 commented on #67
Thanks for the quick reply. That is exactly what I'm after - I can't wait to see what else this plugin has to offer.

[2017-08-04 16:41] birdydma commented on #64
http://www.taxibot-international.com/

Great idea. If i understand well, only for 737 and A320 and few plates.

[2017-08-04 17:12] skiselkov commented on #68
Unfortunately, there is no high-poly mesh. What's in the blender files is all that I have. I'm aware that the unwrap isn't exactly pro (my first project where I had to make 3D models), so I'd be happy for any help. However, given that this would trash all existing texturing work, I'm somewhat hesitant to commit to it.

[2017-08-04 17:19] skiselkov commented on #52
Thanks!

[2017-08-04 18:37] michail154 opened #69 "Plugin problem with new version Felis Tu-154M"
Help! I have some problem: after update Felis Tu-154M to version 1.1.7 your plugin not working (unstable steering gear aircraft )

[2017-08-04 18:57] skiselkov commented on #52
Are you guys by any chance going to be sending me recorded audio in the next 1-2 hours? If not, that's fine, I'll publish the next build without it (just Portuguese text). Just asking if I should wait with the next build or not.

[2017-08-04 19:43] michail154 commented on #69
Thank you very much!

[2017-08-04 19:43] #69 closed

[2017-08-04 22:58] jorgeuvo commented on #52
huuum... I have no idea of what to include in the audio file. Should I record with me own voice? Is there a guideline (script) to following ?

[2017-08-05 00:31] skiselkov commented on #52
@jorgeuvo I'm sorry, should have added it here. The text of the voice messages in English is:

The text of the voice messages in English is:
* `connected.wav`: "Tow connected and bypass pin inserted. Release parking brake."
* `disco.wav`: "Disconnecting tow. Stand by."
* `done_left.wav`: "Tow is disconnected and bypass pin has been removed, hand signal on the left, we'll see you next time and have

[2017-08-05 01:59] skiselkov commented on #42
Please test new english/russian audio in v0.37.

[2017-08-05 01:59] skiselkov commented on #41
Please test english/german audio in v0.37.

[2017-08-05 02:00] skiselkov commented on #45
New texts in Preferences window in v0.37, please test if it all looks ok.

[2017-08-05 02:01] skiselkov commented on #52
Portuguese text & icons in v0.37. Please check if it all looks ok.

[2017-08-05 02:06] cpuwolf commented on #51
icons are correct, but menu is not quite right.

![x-plane 08 05 2017 - 09 59 04 05](https://user-images.githubusercontent.com/1320329/28992051-2bd78054-79c5-11e7-99ef-58ad7a4d28b4.png)
![x-plane 08 05 2017 - 09 57 57 01](https://user-images.githubusercontent.com/1320329/28992052-31496746-79c5-11e7-9d51-2701707ca943.png)

[2017-08-05 02:11] cpuwolf commented on #51
the string should be

msgid "Pre-plan pushback"
msgstr "开始设计推车计划"

msgid "Close pushback planner"
msgstr "关闭推车计划"

but you see chinese string above, it doesnt match. do you have wrong calculation on UTF-8 string length?

[2017-08-05 02:13] jorgeuvo commented on #52
I am recording the audios right now...

[2017-08-05 02:36] jorgeuvo commented on #52
Here are the audio files in Brazilian Portuguese.
[Audio Brazilian Portuguese.zip](https://github.com/skiselkov/BetterPushbackC/files/1202051/Audio.Brazilian.Portuguese.zip)

[2017-08-05 03:00] jorgeuvo commented on #52
And now the audio files in English with Brazilian accent.
[Audio Brazilian English.zip](https://github.com/skiselkov/BetterPushbackC/files/1202059/Audio.Brazilian.English.zip)

[2017-08-05 03:02] jorgeuvo commented on #52
@skiselkov I see now that the audio files should be wav format. I record in m4a (mp4) format instead. Do you need that I re-record, or convert them all?

[2017-08-05 03:05] NathanCG2 commented on #52
@jorgeuvo @skiselkov , I changed some strings for better understanding.

msgid "Can't start planner: aircraft not stationary."
msgstr "Não pode iniciar o planejador: aeronave não está parada."

msgid ""
"Can't start planner: pushback already in progress. Please stop the pushback "
"operation first."
msgstr "Não pode iniciar o planejador: pushback já em progresso. Por favor primeiro pare a operação

[2017-08-05 03:16] jorgeuvo commented on #52
@NathanCG2 thanks for the review... Good teamwork!!

[2017-08-05 03:19] jorgeuvo commented on #52
@skiselkov I checked the version 0.37 and it looks good an don the right place. To make it even better, you can apply the changes suggest above by @NathanCG2

[2017-08-05 06:14] parshukov commented on #47
here is a translation
[Spanish.docx](https://github.com/skiselkov/BetterPushbackC/files/1202156/Spanish.docx)

[2017-08-05 08:19] AtariX-Plane commented on #42
Looks Great. Thanx for Russian voice in Belarus.

[2017-08-05 08:54] birdydma commented on #45
New texts are OK.

[2017-08-05 09:19] skiselkov commented on #52
@jorgeuvo Thanks! No need to transcode it, I can do that myself.
@NathanCG2 Will update the strings to what you sent.

[2017-08-05 09:20] skiselkov commented on #45
@birdydma Thanks!

[2017-08-05 09:21] skiselkov commented on #42
Thanks for testing guys.

[2017-08-05 09:21] skiselkov commented on #47
@parshukov Thanks!

[2017-08-05 09:22] skiselkov commented on #51
@cpuwolf Sorry about that. I believe I merged your commit as-is, but maybe I messed something up afterwards.

[2017-08-05 09:54] skiselkov commented on #51
Alright, so I've figured it out. My string parser and X-Plane's UTF-8 processing are fine. The problem is in the default proportional font, which is missing simplified Chinese characters. When I switch the characters around to traditional ones, everything looks ok. Presumably they just never bothered to use a font which includes simplified Chinese characters, because they only support Japanese nat

[2017-08-05 10:34] skiselkov commented on #47
Can you please also translate these:
* "Preferences..."
* "BetterPushback Preferences"
* "User interface"
* "X-Plane's language"
* "Ground crew audio"
* "My language only at domestic airports"
* "My language at all airports"
* "English at all airports"
* "Save preferences"
* "Ground crew speaks my language only if the country the airport is in speaks my language. Otherwise the ground crew speaks E

[2017-08-05 10:38] OscarAlpha commented on #47
This afternoon I will send you all the files. I have made all the voices
and the text translations.  I am out of home at this moment. Sorry.
Regards

El 5 ago. 2017 12:34, "Saso Kiselkov" <notifications@github.com> escribió:

[2017-08-05 10:41] skiselkov commented on #47
Thanks and there's no need to hurry. I appreciate the help!

[2017-08-05 12:46] cpuwolf commented on #51
hi Skiselkov,
per my understanding, simplified Chinese is subset of tranditional Chinese. it will be good. Thank you for your quick response

[2017-08-05 12:56] skiselkov commented on #51
Ok. Can you please translate them to traditional script for me? Or is google translate good enough not to break anything? Also, can you please also translate these for me:
* "Preferences..."
* "BetterPushback Preferences"
* "User interface"
* "X-Plane's language"
* "Ground crew audio"
* "My language only at domestic airports"
* "My language at all airports"
* "English at all airports"
* "Save pref

[2017-08-05 13:59] OscarAlpha commented on #47
Spanish Translations (Spain) for BetterPushback.
Any suggestion will be welcomed.
[BetterPushback_Spanish_Translations.zip](https://github.com/skiselkov/BetterPushbackC/files/1202402/BetterPushback_Spanish_Translations.zip)

[2017-08-05 14:17] cpuwolf commented on #51
yes sure. could you have a look my pull request?

[2017-08-05 14:29] cpuwolf commented on #51
1. "Preferences..."
   “设置...”
2. “BetterPushback Preferences”
   "BetterPushback设置"
3. "User interface"
   “用户界面”
4. "X-Plane's language"
   “X-Plane系统语言”
5. "Ground crew audio"
   “地勤人员声音”
6. "My language only at domestic airports"
   “我的语言只在国内机场使用”
7. "My language at all airports"
   “我的语言在所有机场使用”
8. "English at all airports"
   “所有机场用英文”
9  "Save preferences"
   “保存首选项”
10."Ground crew speaks

[2017-08-05 14:53] skiselkov commented on #51
@cpuwolf I'm looking at `done_left.mp3` and `done_right.mp3` and they're the same file. Can you please check.

[2017-08-05 15:44] Milki52 opened #71 "A350 Problem is back"
Hey,
during work i have missed a lot of your Updates. Today i wanted to fly again with the a350 from othh. I updated to 0.37 and the problem is back. A350 is not pushing. Any Solutions? The Plugin has changed a lot since 0.22, great work!

[2017-08-05 15:46] skiselkov commented on #71
I'm not at my machine right now, but I'll investigate in a few hours and check what's going on.

[2017-08-05 19:19] skiselkov commented on #47
Thank you, expect this in an update tonight.

[2017-08-06 01:59] skiselkov commented on #52
Added text & Brazilian audio to v0.38, please test. In the current ruleset matching, Brazilian audio will only play in Brazil and nowhere else (even if the country speaks Portuguese). I hope somebody will provide a "generic" Portuguese audio set to use as a fallback for Portuguese-speaking countries outside of Brazil.

[2017-08-06 02:00] skiselkov commented on #51
Switched all text to traditional Chinese characters to fix the X-Plane incompatibility. Please test v0.38.

[2017-08-06 02:02] skiselkov commented on #47
Added text & Spanish audio files in v0.38. This audio set is used as a catch-all fallback for any Spanish-speaking country. If a more localized flavor (e.g. Mexican) is needed, please provide one.

[2017-08-06 02:05] skiselkov commented on #71
Please test on v0.38. As you can see below, I can't reproduce the problem, everything works perfectly OK (tested both with and without engines running during pushback).
![shot](https://user-images.githubusercontent.com/3300688/28999977-730bbc28-7a5c-11e7-841a-06899c91ad0b.png)

[2017-08-06 04:40] cpuwolf commented on #51
test done! all good! and your modified chinese icons are better, which has bigger charators! Great

[2017-08-06 04:56] TheAutumnSky commented on #51
Hi Saso. Today I'll try to ask a friend to record audio phrases in Chinese. It will be a Russian person, so there will be an accent. I hope for the first time will help you!

[2017-08-06 08:31] Braggerblock opened #72 "Unable to see BetterPushback in XP11 plugin menu"
Have tried various versions (also pre-releases). The plugin does neither appear in the XP11 plugin menu nor in the plugin admin section. Have installed into the correct folder /resources/plugins. Am unable to use it.

[2017-08-06 08:49] zasavage commented on #72
Could be that you have a folder in a folder , make sure that the folders are . /resources/plugins/BetterPushback/( 32 and 64 folders  etc  here )

[2017-08-06 09:23] Braggerblock commented on #72
mmm, the path is correct (no folder in folder) but the 32 and 64 folders are missing. Have I downloaded the wrong zip-file? The unpacked  zip-file does not contain these two folders.

![grafik](https://user-images.githubusercontent.com/30768584/29002028-3e981fd0-7a99-11e7-8d62-5d90c9519961.png)

[2017-08-06 09:32] Milki52 commented on #71
okay, what i found out, the tow only disconnects when the plane is pressurized on the hydraulics. When the pumps are not on, the tow doesnt disconnect. On 0.38 the PB works well at the moment. Thanks :)

[2017-08-06 10:04] skiselkov commented on #72
You have downloaded the source code ZIP. That's not what you want. You want
the first ZIP file labeled "BetterPushback.zip". Ignore the ones with
"source code" in the name.

On Aug 6, 2017 11:23 AM, "Braggerblock" <notifications@github.com> wrote:

[2017-08-06 11:20] skiselkov commented on #71
That's because the A350 simulates lack of brake pressure by refusing to set the dataref park_brake=1 when no hydraulic pressure is present. You shouldn't be towing your aircraft with the hydraulics depressurized in the real world anyway! It would mean your parking brake is ineffective and you'll simply roll away as soon as the tow disconnects (and you'll quite possible roll **into** the tow).

[2017-08-06 12:05] Braggerblock commented on #72
Ok, thanks for helping out. All ok now.

[2017-08-06 13:15] NathanCG2 commented on #52
@skiselkov New strings have not been inserted.

[2017-08-06 14:15] NathanCG2 commented on #52
New texts don't work yet but the brazilian audios that's perfect!

[2017-08-06 15:11] xplana opened #73 "Tow aircrafts to maintenance areas - request"
It would be great to see the trucks towing aircraft to maintenance hangars or parking areas at airports.
The way there (across the airport) could just be set the way it is currently set.
Is there a chance to donate?!

[2017-08-06 15:58] jorgeuvo commented on #52
@skiselkov one enhancement to do. When pushing back single engine aircrafts, at the moment that it starts the pushback, it says "Starting pushback and you may start engines." however the propeller is too cose of the tug, and it is also not safe to disconnect the tug with engine running. My suggestion is to remove the part of the speech where it says "and you may start engines.", at least for singl

[2017-08-06 16:02] #71 closed

[2017-08-06 16:06] skiselkov commented on #73
Can you please be a bit more specific? Do you mean to tow *your* aircraft to the maintenance area? If so, that can already be done today - just plan a longer route. As to towing other aircraft to maintenance. Don't know, that seems like a rather complex feature to get right. Not saying "no", just that I don't have a clear picture of how it should work so as to reliably do "the right thing" at leas

[2017-08-06 16:18] #72 closed

[2017-08-06 20:34] JLSeagull opened #74 "Nominal financial recompense....?"
Perhaps I am guilty of missing something about the workings of GitHub - or perhaps you are simply one of those extra-ordinary people who willingly devote your free-time and creative talents for the benefit of others....
Whatever; Would it be too implausible to suggest making this superb add-on, at the the very least, donationware?

[2017-08-06 23:12] skiselkov commented on #52
@NathanCG2 That's really quite strange, I just tried the exact release version on my machine and it works without a hitch. Can you try to do a fully clean reinstall, just to make sure something isn't badly overwritten. If it still doesn't work, please attach the Log.txt, it might contain some hints as to why the Portuguese strings file didn't load. Also check to make sure that the plugin contains

[2017-08-06 23:15] skiselkov commented on #52
@jorgeuvo I'm actually thinking of a much more elaborate mechanism to determine when engine start will be safe. I'm not entirely satisfied with the current immediate clearance for engine start either. I'll let you know what I come up with. Delaying engine start for single-engine props is definitely one of those things that is on the table.

[2017-08-07 00:38] sjedd commented on #57
Skiselkov. I've been waiting for the special debug version you offered.  Have you been able to accomplish this yet?

[2017-08-07 00:48] jorgeuvo commented on #52
@NathanCG2 and @skiselkov the Portuguese texts are fine in my end, unless if I am missing something. Nathan, can you please be more specific, then I can also double check here.

[2017-08-07 01:07] NathanCG2 commented on #52
@skiselkov It's not the same as the translation I made for example i changed inicia to iniciar, i changed Planificação prévia to Pré-planejamento. http://prntscr.com/g57uq8

[2017-08-07 01:37] tubarao2007 opened #75 "No portuguese voice"

[2017-08-07 01:41] skiselkov commented on #74
Don't worry, you're not missing anything. I'm not taking donations at this time. Maybe in the future when the plugin is closer to a 1.0 release. Thanks for offering to support me, I greatly appreciate the enthusiasm!

[2017-08-07 01:41] #74 closed

[2017-08-07 01:55] tubarao2007 commented on #75
I think the problem is on zibomod, not here.
But I still no portuguese voice. Spanish is ok.

[2017-08-07 02:10] skiselkov commented on #75
There is currently no plain Portuguese voice localization available, only Brazilian Portuguese, which you will hear when flying in Brazil.

[2017-08-07 02:30] tubarao2007 commented on #75
Yes, I mean brazilian portuguese!!! But, I put to B. portuguese in all airports and I'm still listening english.

[2017-08-07 04:02] chase911 opened #76 "vs 36 sounds"
I downloaded vs. 36. And everything worked. But it muffled all sounds.  with the sliders all the way up i noticed still at least a 35% reduction in sound volume. Engines environment SQuawkbox PE everything. I removed the plugin and problem persisted. I then did a xplane update thinking that would overwrite anything your coding did to the sound coding of xplane...still no fixing the problem. i had

[2017-08-07 10:42] skiselkov commented on #75
This is expected behavior. The language selector on the left means "plain Portuguese", not "Brazilian Portuguese". There is currently no method implemented for selecting a nationally-flavored branch of a language.

[2017-08-07 11:17] skiselkov commented on #52
@NathanCG2 I see what you mean, I hadn't switched to the later revisions you sent. I'll correct that in the next build.

[2017-08-07 11:24] skiselkov commented on #52
@NathanCG2 Please check if it's OK now: https://github.com/skiselkov/BetterPushbackC/blob/master/data/po/pt/strings.po

[2017-08-07 11:24] skiselkov commented on #41
I take it that no complaints = everything is ok.

[2017-08-07 11:24] #41 closed

[2017-08-07 11:26] skiselkov commented on #57
@sjedd I'm sorry, kinda let this fall by the wayside, I'll stick more diagnostics into the next build coming tonight.

[2017-08-07 15:00] xplana opened #77 "Deactivate plugin during "in air""
a minor thing: you should deactivate the plugin while the aircraft is in the air. The current message is a bit irritating.
cheers and great work!!

[2017-08-07 15:11] skiselkov commented on #76
Thanks for the bug report. I'm not sure how the plugin could be muffling sounds in any way. It never writes to any sound volume settings, it only reads them. Could you please make a video of the effect happening (i.e. record one video before with the sound as normal, second with the plugin in place and the sounds muffled). In any case, you should be able to restore X-Plane's preferences by simply

[2017-08-07 15:24] skiselkov commented on #77
Thanks for the bugreport. Can you please be a bit more specific about which message is irritating?

[2017-08-07 15:41] jfjoubert opened #78 "Default view after accepting PB plan"
Hi Saso,

Nothing major but I see that whenever you accept (or even cancel by escaping) a PB plan then the sim will return you to the default captains view. Would it be possible to "remember" the current user specified camera viewpoint when returning from the planning screen?

Jean

[2017-08-07 15:55] skiselkov commented on #78
This is unfortunately a known issue due to a quirk in the SDK which doesn't allow me to change one parameter of the view coordinate system. As a consequence, BP must manually issue a view command for a know good "view type" when doing the pushback planner. Unfortunately, this then eliminates the ability of BP to return the view type to you exactly as it was left before and I've not found a way aro

[2017-08-07 15:55] #78 closed

[2017-08-07 16:13] skiselkov commented on #77
I've done some testing, and the message that the plugin produces during flight is somewhat cryptic (talking about not having steerable gears). I've reworked it a little to say that the aircraft isn't on the ground. Sound good to you?

[2017-08-07 16:22] jfjoubert commented on #78
No problem... thanks for the feedback.

[2017-08-07 17:49] NathanCG2 commented on #52
@skiselkov Correct strings.

msgid ""
msgstr ""
"Last-Translator: jorgeuvo"

msgid "Can't start planner: aircraft not stationary."
msgstr "Não pode iniciar o planejador: aeronave não está parada."

msgid ""
"Can't start planner: pushback already in progress. Please stop the pushback "
"operation first."
msgstr "Não pode iniciar o planejador: pushback já em progresso. "
"Por favor primeiro pare a o

[2017-08-07 17:56] skiselkov commented on #57
Can you please try the attached plugin? It contains additional debugging prints to figure out why the files apparently aren't readable.
[BetterPushback.zip](https://github.com/skiselkov/BetterPushbackC/files/1205660/BetterPushback.zip)

[2017-08-07 17:58] skiselkov commented on #52
@NathanCG2 Please don't send me a full list. Look at the file I linked and tell me which ones are incorrect and need changing.

[2017-08-07 18:01] skiselkov commented on #51
@TheAutumnSky I don't think you need to record another audio set, I can use the one from @cpuwolf, which will be coming out with the next build tonight.

[2017-08-07 18:50] NathanCG2 commented on #52
http://prntscr.com/g5jrkj that strings

[2017-08-07 19:27] skiselkov commented on #52
@NathanCG2 Thanks, will fix those right away.

[2017-08-07 20:24] xplana commented on #77
Hey Soso,

this ist exactly what i meant.
Its nothing major but completes a great piece of software!
Thanks and great job sir!

Wilhelm

Am 07.08.2017 um 18:13 schrieb Saso Kiselkov <notifications@github.com>:

[2017-08-07 20:33] skiselkov commented on #77
Well then good news, fix is out in v0.39. Please test.

[2017-08-07 20:34] xplana commented on #77
i will
thank you

[2017-08-07 20:34] skiselkov commented on #75
Closing this for now. Pending availability of a generic Portuguese audio, there's not much else I can do.

[2017-08-07 20:34] #75 closed

[2017-08-07 20:36] skiselkov commented on #67
Feature implemented in v0.39. Internal audio now follows "Interior volume" slider in X-Plane 11, allowing you to control its loudness separately. The inside sounds have also been passed through a low-band EQ, so the sounds are more bassy. Opening a window will result in a gradual transition from internal sounds & volume to external and vice-versa.

[2017-08-07 20:38] skiselkov commented on #52
Fix is out in v0.39, please test.

[2017-08-07 20:39] skiselkov commented on #51
@cpuwolf Chinese audio has been integrated into build 0.39. Please test if it sounds ok.

[2017-08-07 20:40] skiselkov commented on #47
Also, would it be possible to record a set of messages in English with a Spanish accent? Text is in the first post on this issue. This would then be played to non-Spanish pilots when in Spanish-speaking countries.

[2017-08-07 21:10] xplana commented on #77
perfect

[2017-08-07 21:10] #77 closed

[2017-08-07 21:56] sjedd commented on #57
I started at the same airport but problem actually happens at all airports. I've still got the greyed out tug. Here is the log.txt
[Log.txt](https://github.com/skiselkov/BetterPushbackC/files/1206283/Log.txt)

[2017-08-07 22:08] AlexJohn73 commented on #67
Thanks. I'll take a look tomorrow.

[2017-08-07 22:21] OscarAlpha commented on #47
I have recorded the voices in English with Spanish accent.
Apart of that, I have modified some of the Spanish voices to fit better in the situation. I have changed some words in some phrases, and I think that the expressions are better.

There is one item in the plugin menu that it is not translated:
It is "Preferences..." in spanish "Preferencias..."
I think it is because in the version of string

[2017-08-07 22:31] skiselkov commented on #47
Great stuff, I will update these in the repo and it should be coming out in the next build in a few days.

Ah, missed that. You are correct, I indeed forgot to add the "..." (ellipsis) to the `msgid`. Adding an ellipsis to menu items is sort of a GUI convention indicating that activating the menu item opens a window or requires further input to complete the action.

[2017-08-07 22:58] NathanCG2 commented on #52
@skiselkov v0.39 that's perfect, thank's!

[2017-08-07 23:53] jorgeuvo commented on #52
@skiselkov tested also here and it is perfect!!!!

[2017-08-08 09:15] birdydma opened #79 "You may start engines"
Good day Saso,

When engines are already running, can you sweep this message?

[2017-08-08 09:25] skiselkov commented on #79
Yeah, both this and not calling for setting the parking brake on ready2conn will need to be chomped out of the voice messages and placed into separate audio files. Should have done this from the start. I'll get to it, hopefully today or tomorrow.

[2017-08-08 11:44] skiselkov commented on #52
I'd like to request a few more text translations for a new feature I'm working on:
* icons:
    * "Reconnect"
    * "Disconnect & hand signals"
* texts:
    * "Disconnect tow + headset and switch to hand signals."
    * "Reconnect tow and await further instructions."

[2017-08-08 11:45] skiselkov commented on #45
@birdydma
I'd like to request a few more text-only translations for a new feature I'm working on:
* icons:
    * "Reconnect"
    * "Disconnect & hand signals"
* texts:
    * "Disconnect tow + headset and switch to hand signals."
    * "Reconnect tow and await further instructions."

[2017-08-08 11:46] skiselkov commented on #42
I'd like to request a few more text-only translations for a new feature I'm working on:
* icons:
    * "Reconnect"
    * "Disconnect & hand signals"
* texts:
    * "Disconnect tow + headset and switch to hand signals."
    * "Reconnect tow and await further instructions."

[2017-08-08 11:46] skiselkov commented on #47
I'd like to request a few more text-only translations for a new feature I'm working on:
* icons:
    * "Reconnect"
    * "Disconnect & hand signals"
* texts:
    * "Disconnect tow + headset and switch to hand signals."
    * "Reconnect tow and await further instructions."

[2017-08-08 11:46] skiselkov commented on #51
I'd like to request a few more text-only translations for a new feature I'm working on:
* icons:
    * "Reconnect"
    * "Disconnect & hand signals"
* texts:
    * "Disconnect tow + headset and switch to hand signals."
    * "Reconnect tow and await further instructions."

[2017-08-08 12:46] xplana opened #80 "Pause pushback process via brake application doesn't work"
Hi Saso,

sometimes there is a need to be able to pause (and continue) the pushback - often because Ground Control requests this (mostly because of traffic).

If i choose a long route (pushback plan) lets say from a parking position to a remote hangar, sometimes you have to cross junctions or runways where you also have to stop if ATC requests this and continue if you are requested to do so.

I wo

[2017-08-08 12:58] TheAutumnSky commented on #42
Hi Saso:
icons:
"Reconnect" - «Присоединить заново»
"Disconnect & hand signals"  - «Отсоединить и подать сигнал рукой»
texts:
"Disconnect tow + headset and switch to hand signals." - «Отсоединить буксировщик и голосовую связь + перейти на сигналы руками»
"Reconnect tow and await further instructions." - «Присоединить буксировщик заново и ждать дальнейших указаний»

Proven, no errors.

[2017-08-08 13:03] parshukov opened #81 "Embraer 110 - Bandeirantes not working properly"
Hi!
When I try to use a pushback service the aircraft at the moment of connecting the toe starts to go back. I noticed that it happens when plugin overrides wheel steer (change dataref to 1) and after the dataref (nosewheel_speed) increases up to "-12" and the back to 0.

[2017-08-08 13:23] jorgeuvo commented on #52
"Reconnect"
"Reconectar"
"Disconnect & hand signals"
"Desconectar & sinal com a mão"

"Disconnect tow + headset and switch to hand signals."
"Desconecta rebocador + headset e switch no sinal com a mão."
"Reconnect tow and await further instructions."
"Reconecta rebocador e aguarda instruções."

[2017-08-08 13:23] birdydma commented on #80
Parking brake on during the pushback?

[2017-08-08 13:38] xplana commented on #80
:-) its working well
sorry, completely missed this

[2017-08-08 13:56] birdydma commented on #45
Done

"Reconnect"
Réattelage
"Disconnect & hand signals"
Désattelage et signal visuel

texts:

"Disconnect tow + headset and switch to hand signals."
Désattelez tracteur, retirez casque et passez en signal visuel
"Reconnect tow and await further instructions."
Réattelez tracteur et attendez instructions

Claude.

[2017-08-08 14:02] skiselkov commented on #80
@birdydma Thanks for helping out.
@xplana As @birdydma said, one way to do it is to apply the parking brake. However, this can be pretty intense and even tip the aircraft onto its tail. To slow down more gradually, you can gently depress the brakes to bring the aircraft to a gradual stop. BP monitors brake pedal application and if it goes beyond 10%, BP will stop attempting to push the aircraft. A

[2017-08-08 14:17] skiselkov commented on #42
Thanks, I'll hold you to it! :)

[2017-08-08 14:20] skiselkov commented on #52
@jorgeuvo Thank you!

[2017-08-08 14:41] Jzzzzth commented on #51
just a suggestion, the chinese sound files feel a bit unnatural and it give a feeling of google translates.
but this might not be a high priority for you guys XD, and it could work as it is.

[2017-08-08 14:44] skiselkov commented on #51
@Jzzzzth I'm not Chinese myself, so I rely on contributions. If you would be willing record a better sound set, I'd love to integrate it.

[2017-08-08 14:49] AirLuSa opened #82 "no voice language change v0.39"
Since version 0.39 I am not able to change the voice language for the airpots. Always (standard) english is played, regardless, which option is set in the preferences.

Best regards
Lukas

[2017-08-08 15:24] skiselkov commented on #82
Thanks for the bug report, will check.

[2017-08-08 15:26] skiselkov commented on #81
Can you please record a video of this? That would really help me? I don't have the EMB110, so I can't test it myself.

[2017-08-08 15:31] skiselkov commented on #82
Can you please attach this file from your simulator: `Output/preferences/BetterPushback.cfg`. I want to check what preferences BetterPushback is using.

[2017-08-08 15:56] xplana commented on #80
great!

[2017-08-08 16:12] skiselkov commented on #80
Actually there's a bug in stopping it using the normal brakes. Will fix.

[2017-08-08 16:55] McDonne11 commented on #81
At the request of N.Parshukov, here is a link to the video with this problem:
https://youtu.be/1uv3iOT9ltk

[2017-08-08 17:14] skiselkov commented on #81
I'm sorry, but I can't see what the problem is. In the video it looks like the pushback was successful.

[2017-08-08 18:01] parshukov commented on #81
https://youtu.be/lpkSUfjzFhE

here it is

[2017-08-08 18:18] skiselkov commented on #81
Can you check that you don't have one of your brake pedals applied a little? The datarefs for the brake pedals have `brake_ratio` in their name (`sim/cockpit2/controls/left_brake_ratio` and `sim/cockpit2/controls/left_brake_ratio`). Both of these datarefs must be `0` - if not, I've seen X-Plane's physics model go a little crazy when trying to push the aircraft.
If the problem still persists, can y

[2017-08-08 18:23] parshukov commented on #81
ok, I will figure this out tomorrow. if it is the problem in dataref, I will make a patch for it)

[2017-08-08 18:30] skiselkov commented on #81
No, I mean I think the problem might be in your physical brake pedals - I suspect they are giving a non-zero brake value even when not depressed. But I will investigate this a little bit more, I'm not 100% sure yet.

[2017-08-08 18:53] parshukov commented on #81
oh, but I have not any pedals)

[2017-08-08 19:20] mariuo opened #83 "problem with changing audio language 0.39"
Hello,
i have a issue, when is set Português Audio and the option "My Language at all airport", just work only some brazillian airports... this is option is to setup português audio for all airports... Ex: SCEL the audio change to english.

thanks

[2017-08-08 20:13] NathanCG2 commented on #52
@skiselkov use this, i changed Desconecta to Desconectar and Reconecta to Reconectar, it's better

"Disconnect tow + headset and switch to hand signals."
"Desconectar rebocador + headset e switch no sinal com a mão."
"Reconnect tow and await further instructions."
"Reconectar rebocador e aguardar instruções."

[2017-08-08 20:35] skiselkov commented on #83
Yes, this is a known issue right now because we don't have "generic" Portuguese audio, only Brazilian Portuguese. Would you be willing to record the generic sound set? I can then add it and it will be used for Portuguese users outside of Brazil.

[2017-08-08 20:36] AirLuSa commented on #82
okay here it is

[BetterPushback.cfg.zip](https://github.com/skiselkov/BetterPushbackC/files/1209474/BetterPushback.cfg.zip)

[2017-08-08 20:42] skiselkov commented on #82
You have your language preferences set to "always use English". You need to select the second option under "Ground crew audio". See attached image.
![shot](https://user-images.githubusercontent.com/3300688/29093640-cf56437e-7c8a-11e7-97a6-f01fdb07f55f.png)

[2017-08-08 20:46] skiselkov commented on #79
Will be addressed in next build tonight. Coincidentally, I need a new version of `ready2conn.wav` **without** the "set parking brake" at the end. Everything else in the message is ok, just stop before asking for the parking brake. I tried to modify the original sound file, but the words are little too close together and it would sound weird if I just cut you off there.

[2017-08-08 20:48] skiselkov commented on #73
Closing for now. If you'd like to clarify what kind of feature you want, feel free to reopen.

[2017-08-08 20:51] skiselkov commented on #42
@AtariX-Plane Can you please record three more messages for me. Just variations on the messages that already exist:
* `ready2conn_nopark.wav`: same text as `ready2conn.wav`, but without the "set parking brake" at the end. This will be played when the parking brake is *already* set.
* `start_pb_nostart.wav` and `start_tow_nostart.wav`: same text as `start_pb.wav` and `start_tow.wav`, but without th

[2017-08-08 20:52] AirLuSa commented on #82
Mhm..  Thought that if I choose english at all airports, BP plays the en-de audio set files at EDDL for example, but instead it plays the standard english sound set. So maybe it's my mistake..

[2017-08-08 20:52] skiselkov commented on #52
@NathanCG2 Will change, thanks!

[2017-08-08 20:55] skiselkov commented on #82
Let me investigate. I'm fairly certain it should work the way you describe, so there might still be a bug there.

[2017-08-08 21:05] TheAutumnSky commented on #42
Saso hello. There it will be necessary to rework intonation. Since my voice on these audio I will record a new intonation. A little bit later.

[2017-08-08 21:12] AlexJohn73 commented on #67
It's a little louder than I would have thought it would be, but I can live with it, particularly when you have all the fans and A/C systems running (in Boeing especially). Thanks for adding it!

[2017-08-08 21:12] #67 closed

[2017-08-08 21:16] AlexJohn73 opened #84 "Random 10-30 Second Delay Between Movements"
Hello, me again. When the tug needs to pushback and _then_ tow forward (or the other way around), it switches between the two instantly, which I think is a bit unrealistic.
Would it be possible to add a random (or fixed) 10-30 second delay to simulate the time it would take for the driver to turn around, put it in gear etc.?

[2017-08-08 21:20] skiselkov commented on #84
Not a bad idea, but I'd definitely make the delay much shorter. For one thing, these vehicles all have automatic transmissions, so reversing direction takes about as long as it takes for you to pull a lever and move your foot from the brake to the accelerator.

[2017-08-08 21:26] OscarAlpha commented on #47
**icons:**
"Reconnect"    **"Reconectar"**
"Disconnect & hand signals"   **"Desconectar y señales manuales"**
**texts:**
"Disconnect tow + headset and switch to hand signals."
**"Desconectar remolcador + auriculares y cambiar a señales manuales"**
"Reconnect tow and await further instructions."
**"Reconectar remolcador y esperar instrucciones adicionales"**

[2017-08-08 21:34] skiselkov commented on #47
@OscarAlpha Thanks!

[2017-08-08 21:58] jorgeuvo commented on #52
@NathanCG2  I used the verb in infinitive only at the icons. I understand that the texts are the tips for the icons and they should not be in the infinitive. Don't you agree?

[2017-08-08 22:05] skiselkov commented on #52
@jorgeuvo Just a minor detail, the long texts are for the command descriptions when setting up keyboard bindings. But thanks for reminding that I should probably put tooltips on them as well.

[2017-08-08 22:14] skiselkov commented on #82
I've found the bug, build with fix coming shortly.

[2017-08-09 02:05] skiselkov commented on #84
Feature implemented in v0.40 as a 2-3 second delay when turning around. I feel that any more would become annoying to users.

[2017-08-09 02:05] skiselkov commented on #82
Should be fixed in v0.40.

[2017-08-09 02:06] skiselkov commented on #80
Please try v0.40, it should respond to pedal brake application by pausing pushback.

[2017-08-09 02:08] skiselkov commented on #79
Most audio fixed in v0.40 to not requested parking brake or clear engine start if brake is already set or engines are already running. I need some more audio messages that were just too tight to cut properly without making it sound odd. Please also check if I guessed correctly where to cut the French audio.

[2017-08-09 02:08] skiselkov commented on #68
Closing due to lack of movement. Reopen if you'd like to work on continue with this.

[2017-08-09 02:08] #68 closed

[2017-08-09 02:10] skiselkov commented on #63
I need to consolidate & test my changes in v0.40 and previous regarding smartcopilot to make sure it works Ok, notably the new disconnect/reconnect feature (I designed this to only be driven by the `BetterPushback/disconnect` and `BetterPushback/reconnect` commands, but I haven't tested it yet over the network, so might be utterly broken for all I know).

[2017-08-09 02:11] skiselkov commented on #42
@TheAutumnSky Thank you! In the mean time, I've simply copied the existing audio messages, so for Russian, the plugin will ATM always request parking brake and clear engine start. Once you have the modified messages ready, I will upload those instead.

[2017-08-09 02:12] skiselkov commented on #29
Closing due to lack of movement on this. Reopen if you'd like to continue analysis of this issue.

[2017-08-09 02:12] #29 closed

[2017-08-09 02:21] parshukov commented on #81
I've checked - it is strange but yes - the left and right brake ratio become nonzero during the pushback process. and it happens every time in the different time)

[2017-08-09 03:23] NathanCG2 commented on #52
@jorgeuvo yes agree, but in my opinion it's weird, but ok.

[2017-08-09 05:20] cpuwolf commented on #51
icons:

"Reconnect"
"重新连接"
"Disconnect & hand signals"
"断开连接并看手势"

texts:

"Disconnect tow + headset and switch to hand signals."
"断开拖杆和耳机然后注意手势"
"Reconnect tow and await further instructions."
"重新连接拖杆，等待指令"
"Preferences..."
"设置..."
"BetterPushback Preferences"
"BetterPushback设置"
"User interface"
"界面设置"
"X-Plane's language"
"X-Plane系统语言"
"Ground crew audio"
"地勤人员声音"
"My language only at domestic a

[2017-08-09 05:22] cpuwolf commented on #51
icons:

"Reconnect"
"重新連接"
"Disconnect & hand signals"
"斷開連接並看手勢"

texts:

"Disconnect tow + headset and switch to hand signals."
"斷開拖桿和耳機然後註意手勢"
"Reconnect tow and await further instructions."
"重新連接拖桿，等待指令"
"Preferences..."
"設置..."
"BetterPushback Preferences"
"BetterPushback設置"
"User interface"
"界面設置"
"X-Plane's language"
"X-Plane系統語言"
"Ground crew audio"
"地勤人員聲音"
"My language only at domestic a

[2017-08-09 05:34] cpuwolf commented on #51
@Jzzzzth right now is the voice is translated from text by machine, yes you are right.  skiselkov is updating everyday. high possibility  is will request more audio files in the future.  so keep current machine speak temporally.  I would love to record my voice if you like in the future.

[2017-08-09 09:18] xplana commented on #80
Brilliant

[2017-08-09 09:18] #80 closed

[2017-08-09 10:13] birdydma commented on #79
0.40 tested (Xp 11, stock B 58, engines running).

No more "You may start engines, but always "Release parking brake" as it is already on.

More to come this afternoon with new commands and smartco.

[2017-08-09 10:20] parshukov commented on #81
moreover I tried to manually add a piece of code to lua to make these datarefs always be 0 - but it is not work  - I guess bp is overwriting it at all...

[2017-08-09 10:23] birdydma opened #86 "New icons and outside view"
I can get the new icons only if i stay in the cockpit. When MAJ/8 is applied, they are not displayed.

[2017-08-09 10:32] AirLuSa commented on #82
fixed

[2017-08-09 10:33] AirLuSa commented on #86
for me in the cockpit they look like this:
![bildschirmfoto 2017-08-09 um 12 31 51](https://user-images.githubusercontent.com/30418648/29117554-ea31a11a-7cfe-11e7-974d-8c7b221b877d.png)

[2017-08-09 10:52] xplana opened #87 "Wheel contact points and aircraft shape"
Sasho,

if the trucks pulls the aircraft into a parking position, currently it does not seems to be possible to exactly place the aircrafts nosegear on to a required aircraft specific marking. Please see the attached airport picture for this where there are different spots for the airbus and Boeing models.

It would be good to be able to see the gear contact points (at least of the nose gear) in t

[2017-08-09 11:06] birdydma commented on #86
It's a riddle.

PS: My OS is Win 10.

[2017-08-09 11:08] skiselkov commented on #86
Interesting, but I think I might have an idea what's wrong. What is `MAJ/8`?

[2017-08-09 11:15] #82 closed

[2017-08-09 11:17] skiselkov commented on #86
Can you give this file a try? Simply replace `64/win.xpl` with it. Let me know if you need a build of this for another platform (Mac/Linux).
[win.xpl.zip](https://github.com/skiselkov/BetterPushbackC/files/1211243/win.xpl.zip)

[2017-08-09 11:19] AirLuSa commented on #86
Yes please compile for mac. Then I can check it.

[2017-08-09 11:24] skiselkov commented on #86
Attached.
[mac.xpl.zip](https://github.com/skiselkov/BetterPushbackC/files/1211251/mac.xpl.zip)

[2017-08-09 12:07] birdydma commented on #81
Good day Nick,
I have not the Embraer, may be you have not the Saab, but have o look here:
https://github.com/skiselkov/BetterPushbackC/issues/17

Can you see something similar with your issue?

[2017-08-09 12:13] birdydma commented on #86
MAJ + 8 (8 on the top of the keyboard): outside view. In fact, not 8 but -

My bad.

[2017-08-09 12:15] parshukov commented on #81
hi. yep, it is the same...

[2017-08-09 12:17] skiselkov commented on #86
Ah, gotcha, I understand now what you mean. Source of the confusion: everywhere else in the world, that key is called "Shift", not "Maj". Anyway, please test if the modules above fix the problem. If so, I can have a full build ready in an hour.

[2017-08-09 12:44] birdydma commented on #86
Solved for Win 10.

Also tested the new BetterPushback/reconnect. The job is done, but without any vocal messages.

[2017-08-09 13:14] skiselkov commented on #86
@birdydma Thank you.

Are you talking about smartcopilot syncing the command to the slave?

[2017-08-09 13:15] AirLuSa commented on #86
seems to work now on Mac

[2017-08-09 13:32] birdydma commented on #81
Can you test BP with your AN 24?

XP 10 of course, engines not running, The tug have hard time to do a turn.

[2017-08-09 13:34] parshukov commented on #81
@birdydma what do you mean by "hard time"? can you record a video?)

[2017-08-09 13:54] TheAutumnSky commented on #42
Here I record with another intonation
[Cut_Audio.zip](https://github.com/skiselkov/BetterPushbackC/files/1211608/Cut_Audio.zip)

[2017-08-09 14:09] birdydma commented on #81
Starting the turn the speed is going very slow, and the push stops after 1 or 2 meters (the leg is much more long).

[2017-08-09 14:11] birdydma opened #88 "0.40 and TU 154M"
The plane is not on ground.

PS: i am going to test smartco with an other bird.

[2017-08-09 14:11] parshukov commented on #81
@birdydma can you send me here a screenshot of the prefs of the An24?

[2017-08-09 14:44] beattleboy opened #89 "Thumbs up to Tug driver."
Hi, since you implemented the pop ups after the tow is complete to disconnect/re-connect.  Maybe another one when tug driver is standing showing the pins to acknowledge that we have seen him and are clear to proceed.   I have seen some guys standing airside getting annoyed waiting on the pilot to acknowledge them so they could leave.  :)

[2017-08-09 14:44] birdydma commented on #81
Prefs? Joystick, rendering?

[2017-08-09 14:46] parshukov commented on #81
@birdydma no, prefs of An - I mean An settings from the left aircraft menu. I lost my PC some time ago and now I have a notebook with 5fps in sim, it is very difficult to check the aircraft)

[2017-08-09 14:53] birdydma commented on #81
![2017-08-09_16h52_44](https://user-images.githubusercontent.com/30256581/29128133-4d1bb0d0-7d23-11e7-8183-69045fccbcd3.jpg)

[2017-08-09 15:21] birdydma commented on #63
0.40
The new icons are on both side. Why not with the left one, This not right with the right one, as only the master is able to draw a route.

Slave have icons, but for him, the tug disappear during the second push.

[2017-08-09 15:30] birdydma commented on #81
Works with the NWS switch in the middle position, even cold and dark. Nice.
![2017-08-09_17h22_11](https://user-images.githubusercontent.com/30256581/29129856-78c557ae-7d28-11e7-99dd-822f0c40f73b.jpg)

[2017-08-09 15:44] xplana commented on #89
:) i think its a good point

[2017-08-09 15:46] xplana commented on #89
nepp, i think it´s a good point.
I´ll add on thing to this. Sometimes, if you have a technical problem and the truck has left the taxiway waiting for your ok, you should be able to call him back to tow you back into the parking position.

So, you either send them the "thumbs up" or call him back to tow you ..

[2017-08-09 15:51] parshukov commented on #81
super

[2017-08-09 16:04] mariuo commented on #83
May i suggest for one option with Portuguese Brazilian audio generic, there are to many brazilian pilots use your plugin, i dont have portuguese speaking from Portugal for recording to help you, i'm sorry.

Thanks and congrats for the plugin

[2017-08-09 16:51] birdydma commented on #63
XP 11 and the stock Cessna. Of course, not a big deal with this one, but probably good to know for debug purpose.

As soon as the pushback starts, the 2 planes are broken.

[2017-08-09 17:41] skiselkov commented on #87
Nice idea on the landing gear spots, will be in the next, as well as some refinements to the driving algorithm to make it more accurate. The exact replica of the aircraft is something I have considered, but it's exceptionally difficult to try and pull the aircraft out of x-plane (short of manually rendering the model I can't think of an obvious way). I might implement a library of aircraft overlay

[2017-08-09 18:01] skiselkov commented on #86
Thanks, fix in next build tonight.

[2017-08-09 18:03] skiselkov commented on #89
Been thinking about this. I'll see if I can get this implement soon (not into next build though, too late for that).

[2017-08-09 18:03] skiselkov commented on #88
Will fix.

[2017-08-09 19:36] jorgeuvo commented on #83
@skiselkov I agree with @mariuo to make the Brazilian Portuguese as generic Portuguese as well,     while we don't have the correct audio.

I will try a Portuguese friend to create the generic audio. I will be back soon to you

[2017-08-09 20:01] skiselkov commented on #87
Implemented in v0.41, please test.

[2017-08-09 20:02] skiselkov commented on #86
Fixed in build v0.41. Please test.

[2017-08-09 20:03] skiselkov commented on #79
Closing this now. I'll address the smartcopilot features in a separate bug.

[2017-08-09 20:03] #79 closed

[2017-08-09 21:39] skiselkov commented on #88
Please try attached patch. Apply as usual and let me know.
[win.xpl.zip](https://github.com/skiselkov/BetterPushbackC/files/1212950/win.xpl.zip)

[2017-08-09 21:39] xplana commented on #87
hey sasho,

did some quick tests and it looks good - it is working perfect with the default Boeing 737, Rotate MD80, default King Air.

![bildschirmfoto 2017-08-09 um 22 34 12](https://user-images.githubusercontent.com/17392829/29142726-1af0e71c-7d53-11e7-949e-d11e709de963.png)

![bildschirmfoto 2017-08-09 um 22 56 02](https://user-images.githubusercontent.com/17392829/29144323-d0db23b2-7d58-11e7-

[2017-08-09 21:47] skiselkov commented on #87
The algorithm does have a bit of imprecision so far. I'll see if I can tighten it up so more.

It's just an extended aircraft centerline to help you align the aircraft exactly with the taxiway. It only appears when planning forward motion, or when pushing and the last portion of the push is a turn (to show you that there is no straight push section). The same goes for the red line that extends beh

[2017-08-10 00:16] sjedd commented on #57
I don't know if you've had a chance to look at the log.txt above. The main items that pertain to BetterPushback are
2017-08-07 17:46:41 BetterPushback[tug.c:941]: Starting livery substitution for C:\X-Plane 11(2)\\Resources\plugins\BetterPushback\objects\tugs\AST-3F.tug\AST-3F.obj (liv: generic.livery)
2017-08-07 17:46:41 BetterPushback[tug.c:912]: DDS hit: TEXTURE AST-3F_tex.png -> C:\X-Plane 11(

[2017-08-10 00:38] jorgeuvo commented on #83
@skiselkov I talked with José Almeida and he will join the other post for the Generic Portuguese audio.

[2017-08-10 00:43] jorgeuvo commented on #52
@skiselkov José will come here for the generic Portuguese audio recording.

[2017-08-10 00:44] skiselkov commented on #52
Great stuff, thanks!

[2017-08-10 04:37] NathanCG2 commented on #52
@jorgeuvo nice!

[2017-08-10 07:51] JoseBDA commented on #52
Hi skiselkov,
I am José Almeida and I was asked by Jorge Uvo to help with the Portuguese audio recording in European Portuguese, please let me know what I should do.
Best regards,
José

[2017-08-10 08:57] parshukov commented on #81
@skiselkov Saso, any advises?)

[2017-08-10 11:47] xplana opened #90 "Nosewheel still turning while pushback"
Hi sasho,
as you can see in this video, the aircrafts nose wheel is still turning while lifted by the tug.

[https://www.youtube.com/watch?v=DOixWaM6_F0&feature=youtu.be](url)

Any chance to stop it turning or is this some x-plane accessibility problem?

Thanks

[2017-08-10 12:05] skiselkov commented on #90
Thanks for the bugreport. Yes, this is a limitation of the X-Plane API. At the moment I have no way of stopping the nosewheel animation when repositioning the aircraft. I'm talking to Laminar to try and figure out a way to get this solved at least on XP11 (XP10 is likely never going to get rid of this).

[2017-08-10 12:05] #90 closed

[2017-08-10 12:52] xplana commented on #87
Saso,
Any chance that the wingspan of your aircraft icon gets the wingspan from the aircraft in x-plane and maybe tha aircraft length? That would be a good representation. I see that the entire shape is quite a difficult thing to do.
Cheers

[2017-08-10 15:28] chase911 commented on #76
Were  you ever able to diagnose a problem with the affected sounds?  Ie your most current release would not lower the over all global sounds of everything?  Does this plugin have its own sound volume control slider by any chance? I thought about that afterword.  That maybe there was a slider that i could of moved that would of fixed the issue. Or does it use the xplane's default sound settings? Th

[2017-08-10 15:33] birdydma commented on #86
Fixed.

[2017-08-10 15:36] skiselkov commented on #76
I asked you to make a video of the problem, because from your description I couldn't see how BP would or could be affecting the volume of other parts of X-Plane. BP **NEVER** writes to any sound volume settings, it only ever reads them. Anyway, the latest version uses three volume settings from X-Plane (11):
1. the Exterior volume slider controls tug engine & mechanism loudness when in an outside

[2017-08-10 15:36] birdydma commented on #88
Fixed. Test done engines running, parking brake on.

You may start engines is back, release parking brake is gone.

Will do a test with smartco later.

[2017-08-10 16:00] AirLuSa opened #91 "Just call the pushback truck"
Hej,

may it be possible to implement a button to just call the pushback truck? At the moment if you choose connect first, the pushback truck will already lift the aircraft. What about a button to just call the truck, so it positions in front of the aircraft ready to connect but don't actually lift the aircraft.

Thanks
Lukas

[2017-08-10 16:02] birdydma opened #92 "Reconnect and voice messages"
With XP 11, stock B 58 engines running (and my win.xpl for the TU).

Send me your planning, and release parking brake are not there.

[2017-08-10 16:14] chase911 commented on #76
Ok I'm sorry. I didn't want to re-download the same Version.  And maybe it was just a fluke. Maybe it had nothing at all do to with your TUG. I was only reporting in good faith what I believed had caused a problem.  I will Download your latest version and will let you know how that turns out  I will make a quick recording of my sounds before I do.  Thanks for all the hard work you are putting into

[2017-08-10 16:30] skiselkov commented on #76
Thanks and I do appreciate the help! Don't worry, we'll get this sorted.

[2017-08-10 17:12] birdydma commented on #88
Ok with smartco

[2017-08-10 17:13] liebbe10 opened #93 "Pushback with bar"
Are you planning to implement pushbacks using bars/is this possible with your plugin?

[2017-08-10 18:12] liebbe10 opened #94 "Vienna Airport Livery AST-3F"
I made a livery for LOWW Vienna International Airport
![capture](https://user-images.githubusercontent.com/30324171/29182881-e2d8d1c4-7e00-11e7-98e5-45b639bb7c28.PNG)
[WienSchwechat.livery.zip](https://github.com/skiselkov/BetterPushbackC/files/1215777/WienSchwechat.livery.zip)

[2017-08-10 19:24] skiselkov commented on #94
Thanks for the livery! I'll include it in the next build.

[2017-08-10 19:25] skiselkov commented on #93
Right now this isn't possible, but I'd like to work on it some time soon. Can you find good side/top view diagrams of some towbar trucks from Tugtech or Trepel? I couldn't find much of anything to get started on modeling it.

[2017-08-10 19:35] skiselkov commented on #87
I have a test module that you try. Just place this into the plugin under the "64" folder, replacing the old one that's there. This is currently Windows-only. Let me know if you need another platform. With this version, I'm able to get the IXEG and any other aircraft pretty much to within an inch or two of where I want it to be.
[win.xpl.zip](https://github.com/skiselkov/BetterPushbackC/files/12161

[2017-08-10 19:36] skiselkov commented on #91
I'll consider implementing a little later, right now it's low priority.

[2017-08-10 19:37] skiselkov commented on #88
Checking.

[2017-08-10 19:48] NathanCG2 opened #95 "New vehicles?"
Are you thinking of making other vehicles in the future as catering, loaders?

[2017-08-10 20:04] skiselkov commented on #88
Tested and I can't repro the "clear to start engines" problem. In my case, the tug driver correctly doesn't call engine start if the engines are already running.

[2017-08-10 20:13] liebbe10 commented on #93
here they have a 360° image of the tug

http://www.trepel.com/products/aircraft-tractor/challenger-150.html

[2017-08-10 20:34] xplana commented on #87
Hi saso,
I am on a mac

[2017-08-10 23:12] jorgeuvo commented on #52
Hi @skiselkov ... I am providing the strings to Jose.

Hi @JoseBDA . The strings to record are the following, with the file name. And also the translations to Brazilian Portuguese, but feel free to make any change to adapt to European Portuguese.

connected.wav:
"Tow connected and bypass pin inserted. Release parking brake."
"Rebocador conectado e pino de derivação inserido, Solte o freio de estac

[2017-08-10 23:50] skiselkov commented on #95
Thanks for the suggestion. Not really at the moment, however. I don't want to duplicate the functionality of plugins such as Ground Handling Deluxe, which are doing a fine job and I don't think I'd have much new to add there. I'll keep it in mind for a 2.0 or 3.0 version though.

[2017-08-10 23:50] #95 closed

[2017-08-10 23:50] skiselkov commented on #92
Yep, looks like a bug, fixing.

[2017-08-10 23:56] skiselkov commented on #52
@JoseBDA Thank you! @jorgeuvo already sent you the info, so please follow his recommendation. Just two recommendations:
* "Ok, todas as portas e escotilhas estão fechadas, pronto para conectar, Acione o freio de estacionamento.": please leave a short (0.2 second) pause between "conectar," and "Acione o freio de estacionamento". I'm going to place a cut there so I can have two messages: one where i

[2017-08-11 00:42] skiselkov commented on #93
Well it's a start. I'll see what I can do with that.

[2017-08-11 00:43] skiselkov commented on #84
Closing this as implemented.

[2017-08-11 00:43] #84 closed

[2017-08-11 00:43] skiselkov commented on #86
Thanks for testing.

[2017-08-11 00:43] #86 closed

[2017-08-11 00:44] skiselkov commented on #81
So far no ideas. BP does set your brakes when it is connecting & disconnecting, but never during towing. I might need to get the EMB110 to test it myself. I'll keep you posted.

[2017-08-11 00:45] skiselkov commented on #92
Please test with attached plugin build.

[2017-08-11 00:48] skiselkov commented on #87
Mac build is attached:
[mac.xpl.zip](https://github.com/skiselkov/BetterPushbackC/files/1216702/mac.xpl.zip)

[2017-08-11 03:48] #57 closed

[2017-08-11 07:10] birdydma commented on #81
Hi,,
May be it's time to think differently with those birds.
For exemple, the pushback speed is slowing down with the Saab:
Could it be something related to beta mode (position of CL, throttle lever, stock datarefs overriden by SASL or Gizmo)

[2017-08-11 07:21] parshukov commented on #81
@skiselkov Saso, during pushback everything is ok, the magic happens when it is connecting and disconnecting. And during that I can't set my left and right brakes to 0..maybe you can add a couple of strings in your code to check if it is Emb100 to not controls brakes? and I will add an ifthenelse for bp during operation to set it to 0?

[2017-08-11 07:42] xplana commented on #87
thanks. I´ve tested a couple of times and it looks very good, see here:
![bildschirmfoto 2017-08-11 um 09 32 14](https://user-images.githubusercontent.com/17392829/29204779-4088b050-7e79-11e7-867f-1b81706c921d.png)
![bildschirmfoto 2017-08-11 um 09 38 01](https://user-images.githubusercontent.com/17392829/29204780-40b20f0e-7e79-11e7-9c8d-2fd87ddfc90d.png)

[2017-08-11 08:30] xplana commented on #87
actually after some more tests, one single test failed. The aircraft was towed way too much. It was supposed to be parked on the first marking, please see where it was towed.
As i said, this was the single test that failed. I have no idea what could have triggered that.
Cheers

![bildschirmfoto 2017-08-11 um 10 18 21](https://user-images.githubusercontent.com/17392829/29205979-184e40e4-7e80-11e7-8

[2017-08-11 08:55] thedaedalus opened #96 "Better Pushback not working with latest zibo mod and latest version of pushback"
With the latest version of the Zibo mod 3.06d the push back truck wont move. It appears it does not see the parking break coming off.

What I have observed is as soon as the pushback truck engages the parking break light inside the aircraft goes out and will never come back on no matter what state the parking brake lever is at. Manually trying to change the data refs have no effect.

[2017-08-11 11:54] JoseBDA commented on #52
I need a clarification; in the sentence
"Winching strap and adapter in position. Release parking brake when ready to start pushback."
shouldn't it be "tow" rather than "pushback" in the end?

[2017-08-11 12:08] skiselkov commented on #52
@JoseBDA The "pushback" refers to the entire pushback operation, not just the act of winching the aircraft onto the tug's lift platform. This is because during the winching operating we need the parking brake to be off, but we also use the parking brake to trigger that start of the actual pushback. So instead of asking the user to reset the parking brake at the end of the winching operation, we si

[2017-08-11 12:49] JoseBDA commented on #52
@skiselkov Thank you, understood.

[2017-08-11 15:51] birdydma commented on #92
B 58, engines running, parking brakes on, first connection:
I have a request of the tug: set parking brakes.
 Of course, after the pushback, i have the request: set parking brakes on. Set is done the reconnect icon is here.
Reconnect: i have no request: release parking brakes.

[2017-08-11 16:14] birdydma opened #97 "Single engine aircraft and engine running"
There is no request: Stop engine first.

Hopefully, i am not a tug driver but a pilot.

[2017-08-11 17:43] JoseBDA commented on #52
@skiselkov and @jorgeuvo I've taken the liberty to make a few changes with respect to the Brazilian translation, here they are:

"Tow connected and bypass pin inserted. Release parking brake."
"Tractor engatado e pino de derivação inserido. Liberte o travão de estacionamento."

"Disconnecting tow. Stand by."
"A desengatar o tractor; aguarde um pouco."

"Tow is disconnected and bypass pin has been

[2017-08-11 17:46] JoseBDA commented on #52
The voice recordings ae here:
[Portuguese_EU.zip](https://github.com/skiselkov/BetterPushbackC/files/1218647/Portuguese_EU.zip)
[English_PT_accent.zip](https://github.com/skiselkov/BetterPushbackC/files/1218649/English_PT_accent.zip)

[2017-08-11 17:47] skiselkov commented on #52
@JoseBDA Thank you very much! And no worries on changing the translation - however it sounds best to you is how it should be.

[2017-08-11 18:30] jorgeuvo commented on #52
Thanks @JoseBDA ...

@skiselkov as I expected, differences in the writing as well, between Brazilian and European Portuguese.

[2017-08-11 18:35] JoseBDA commented on #52
List of countries that have adopted Portuguese as their oficial language, source: https://www.cplp.org/id-2597.aspx

Angola
Bazil
Cape Verde
East Timo
Equatorial Guinea (several oficial languages)
Guinea Bissau
Mozmbique
Portugal
São Tomé and Principe

[2017-08-11 18:36] JoseBDA commented on #52
East Timor, not East Timo

[2017-08-11 19:53] Jzzzzth commented on #51
@cpuwolf no problem at all, and i love this plugin. i tried to record some voice lines myself but my devices arent good enough for that and im not working in the industry so i am not certain with my translation so i didnt finish the recording. but yes it can be improved, but maybe after everything else major got sorted first

[2017-08-11 20:09] chase911 commented on #76
OK I just wanted to keep you up to date. So last night I backup everything I had...So I was not scared to try anything today lol. But anyway, I Checked my sounds before  downloaded your current .41 Version.  Then I checked the sounds after.  No problems found.  I then did a flight, then exited the SIM. Restarted and tried two  different aircraft and still no problems.  So I would go ahead and clos

[2017-08-11 21:14] skiselkov commented on #76
@chase911 Thanks for letting me know and glad you got it sorted. Must have been some unrelated change that happened to coincide with you installing the plugin. Please do let me know if you happen to run across something else. Cheers!

[2017-08-11 21:14] #76 closed

[2017-08-11 22:45] skiselkov commented on #87
I'm working on a major update to the steering logic. Maybe that will help resolve this. But even with the code as-is, I couldn't reproduce the problem you're having, so maybe it's just something on your end... You did make sure to give the tug enough room to straighten out, right? So you didn't just come right out of a turn and expect the nosewheel to land on the dot?

[2017-08-12 00:25] beattleboy commented on #96
This may not be a BP issue.  As Zibo has now implemented automatic chalks on load up, with no way of saving it to be off on load up, with 3.06d, if you don't turn them off, the tug won't move the aircraft (because of the chalks).  With 06d, and the option to turn off chalks with parking brake application, now, you have to hit the parking brake off, then on again before actual push back.   Once fig

[2017-08-12 02:24] skiselkov commented on #96
I'm kinda tired of zibo breaking compatibility every week or so, but I'll check what the situation is.
@beattleboy If it is going in donuts, I really do need to check if Zibo isn't preventing nosewheel steering from being enabled (because without it the nosewheel steering functionality in X-Plane is all broken). I might implement a check before connection to make sure BP can either turn your NWS o

[2017-08-12 02:46] ar1001 opened #98 "No human dialogue in XP10"

[2017-08-12 07:20] fozzybear123 opened #99 "JAR a330 Version 2.2RC1"
For some reason now since I last updated Betterpushbackto the latest, It takes a long time for it to connect the A/C and lift the a/c up. When it's pushing back, It is even slower and very jiggy , It's not nice at all :/

[2017-08-12 07:41] xplana commented on #87
yes, there was plenty of room and the tug just passed a long straight line, no curves close to the dot where the nose wheel was supposed to land.
I´ll close this, as the main issue is solved.

[2017-08-12 07:41] #87 closed

[2017-08-12 09:48] beattleboy commented on #96
What is happening, at least for me for the donuts is when this happens.  I am ready to be pushed.  I forget to turn off the chalks.  I release parking brake...  Nothing happens, as the plane is chalked.  I go oops.  Turn on parking break, and now in 3.06d, turn off parking brake again to remove chalks.  Since there was a delay in this, It looks like the tug is trying to make up time and goes into

[2017-08-12 11:12] beattleboy commented on #96
This is what it does if chalks not removed first.

https://youtu.be/pwi6hkd-icI

[2017-08-12 11:44] skiselkov commented on #96
@beattleboy Hehe, what a funny bug. I'll try the plane myself, should be relatively straightforward figuring out what's wrong.

[2017-08-12 12:12] skiselkov commented on #96
I see what the problem is. Fix will be included in next build tonight.

[2017-08-12 12:44] #98 closed

[2017-08-12 18:05] JoseBDA commented on #83
The Generic Potuguese audio has been uploaded and I expect it will be in the next release

[2017-08-12 19:04] skiselkov commented on #83
@JoseBDA Yep, I just need to finish the audio master, but it should be coming out in a few hours. I'm also working on a major update to the driving logic, which is why this is taking so long.

[2017-08-13 12:06] fregate083 opened #100 "No portuguese accent at LPPT airport"
Hi,
Today test at LPPT but no local accent despite the last updates.

Thanks a lot

[2017-08-13 13:18] DazaXIII opened #101 "Not enabling"
Trying and failing to join the Better Pushback revolution.
I’ve got a backup copy of XPlane installed which is clean and vanilla and Better Pushback works fine on that so I know my download and installation are correct. However on my copy of XPlane I fly with it won’t enable. Nothing in the drop down menu and clicking the checkbox of the plugin admin XP freezes for a couple of seconds then continu

[2017-08-13 19:00] skiselkov commented on #101
Gonna take a look, stand by.

[2017-08-13 19:14] skiselkov commented on #101
Can you please check that under `Resources/default data/CIFP` you have some `.dat` files present? It should look something like this:
<img width="630" alt="shot" src="https://user-images.githubusercontent.com/3300688/29252688-f25977ee-806b-11e7-83a6-24ade26a3a66.png">
The problem that BP is reporting is that it found no airports with instrument procedures. That means that either you don't have ANY

[2017-08-13 19:15] skiselkov commented on #100
A build including the European Portuguese audio hasn't been released yet. Should be out tonight if I can get some final bugs fixed.

[2017-08-13 19:15] #100 closed

[2017-08-13 19:16] skiselkov commented on #97
Will implement, but only via an error message when hitting "start pushback", not via an audio message (too much work for too much user stupidity).

[2017-08-13 19:18] skiselkov commented on #99
Are you running on X-Plane 10 by any chance? The pushback algorithm will be updated for that in the next build. However, the smartcopilot integration is very much in a highly experimental status at the moment. I will return to this in some future build to patch everything up.